
/*       .scroller_class{height: 100%; width: 100%;}*/
#page_mainmenu .card .card-action{ 
    padding: 3px 0px 0px 0px;
    text-align: center;
    color: #fff;
    line-height: 15px;
    font-size: 20px; 
    height: 35px;
}
#page_mainmenu .card .card-content{ padding: 10px; }
#page_mainmenu .card{ 
    height: 125px;
    margin: 0.8rem 6px 0.8rem 8px;
    font-size: 12px;
    max-width: 200px;
    width: 170px;
}
@media screen and (max-width: 361px){
    #page_mainmenu .card .card-action{
        padding: 3px 0px 0px 0px;
        text-align: center;
        color: #fff;
        line-height: 13px;
        font-size: 20px; 
        height: 33px;
    }
    #page_mainmenu .card .card-content{ padding: 10px; }
    #page_mainmenu .card{ 
        height: 100px;
        margin: 0.8rem 2px 0.8rem 2px;
        font-size: 12px;
        max-width: 110px;
        width: 170px;
    }
}
@media screen and (max-width: 325px){
    .scrollerpad{ padding: 10px 2px 5px 2px;}
    #page_mainmenu .card .card-action{ padding: 3px 0px 0px 0px;
                                       text-align: center;
                                       color: #fff;
                                       line-height: 13px;
                                       font-size: 18px;
                                       height: 33px;
    }
    #page_mainmenu .card .card-content{ padding: 10px; }
    #page_mainmenu .card{ 
        height: 100px;
        margin: 0.6rem 2px 0.6rem 2px;
        font-size: 12px;
        max-width: 200px;
        width: 150px; 
    }
}

@media screen and (max-width: 420px){
    .abstract_page {
        padding: 5px;
        text-align: justify;
    }  
    .mainpagemargin{ 
        margin-left:2px;
        margin-top:10px;
    }
}
@media screen and (max-width: 462px){
    .mainpagemargin{ 
        margin-top:10px;
        margin-left:4px;
    }
}
@media screen and (max-width: 425px){
    .mainpagemargin{ 
        margin-top:10px;
        margin-left:2px;}
}

.profile-card {
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
    line-height: 1.4;
    background-color: #33393c;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: black;
    border 1px solid white;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
    margin: 20px 0 0 0;
    font-weight: 600;
    font-size: 17px;
}

.profile-id {
    margin: 0 0 5px 0;
    font-size: 14px;
    opacity: 0.6;
}

.profile-desc {
    font-size: 15px;
    opacity: 0.6;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.info-col {
    height: 60px;
    line-height: 1;
    padding: 12px 0 12px 4px;
}

.info-num {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}

.info-unit {
    margin-top: 6px;
    font-size: 14px;
    opacity: 0.4;
}
@media (max-width:415px){
    /*iphone-6+*/
    #page_mainmenu .card{ 
        height: 125px;
        margin: 0.6rem 6px 0.6rem 8px;
        font-size: 12px;
        max-width: 200px;
        width: 190px;
    }
}
@media (max-width:375px){
    /*iphone-6*/
    #page_mainmenu .card{ 
        height: 125px;
        margin: 0.6rem 6px 0.6rem 8px;
        font-size: 12px;
        max-width: 200px;
        width: 165px;
    }
}
@media (max-width:320px){
    /*iphone-5*/
    #page_mainmenu .card{ 
        height: 125px;
        margin: 0.6rem 6px 0.6rem 8px;
        font-size: 12px;
        max-width: 200px;
        width: 140px;
    }
}

.card-ar{ 
    padding: 3px 0px 0px 0px;
    text-align: center;
    color: #fff;
    line-height: 15px;
    font-size: 16px;
    height: 56px;
    padding: 7px;
    margin-left: 10px;
}
@media (max-width:415px){
    .card-ar{ 
        font-size: 18px;
    }
}

@media (max-width:375px){
    .card-ar{ 
        font-size: 15px;
    }
}

@media (max-width:320px){
    .card-ar{ 
        font-size: 13px;
    }
}



.reply-notification {
    position: absolute;
    top: 28px;
    font-size: 10px;
    font-weight: 600;
    height: 13px;
    line-height: 13px;
    padding: 0 4px;
    min-width: 13px;
    margin-left: 18px;
}

.tab-icon {
    font-size: 28px;
    vertical-align: -4px;
}

.timeline {
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeline-li {
    line-height: 1;
    padding: 10px;
}

.timeline-image {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.timeline-date {
    float: right;
    font-size: 12px;
    opacity: 0.35;
    margin-top: 3px;
}

.timeline-from {
    margin: 0px 0 6px 0;
}

.timeline-name {
    font-size: 15px;
    font-weight: 500;
}

.timeline-id {
    font-size: 14px;
    opacity: 0.4;
}

.timeline-message {
    margin-top: 4px;
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.15;
}


.tab-bar {
    background: #d34834;
}
.ar-footer{
    color: #FFF;
    font-size: 14px;
    text-align: center;
}
.ar-img-icon{
    height: 70px;
    width: auto;
}

.to-wrapper {
    line-height: 1;
    height: 62px;
    padding: 10px;
}

.to-image {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.to-name {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 4px;
}

.to-email {
    font-size: 14px;
    opacity: 0.4;
}

.text-input {
    margin-top: 4px;
}

.textarea {
    margin-top: 4px;
}
.ar-bk-btn{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 24px;
    color: #DB1433;
}
.table-striped{
    margin-left: 20px !important;
}


@media screen and (min-width: 768px){
    .social_media_hr{
        margin-left: 12%;
    }
    .ar-img-icon{
        height:90%;
    }
    .mainpagemargin {
        margin-top: 40px;
        font-size: 30px;
    }
    .timeline-message{
        font-size: 30px;
    }
    h4{
        font-size: 30px !important;
    }
    .singletextpad{
        font-size:25px;
        margin-top: 12px !important;
    }
    .timeline{
        margin-top: 50px !important;
    }
    .card-ar{
        padding:20px !important;
        height: 95px !important;
    }
    .ar-img-icon_hp{
        height: 70% !important;
    }
    .navigation-bar__center{
        font-size: 35px !important;
        padding:10px !important;
    }
    .navigation-bar{
        min-height: 60px !important;
    }
    .toolbar-button {
        font-size: 29px !important; 
    }
    .ar-bk-btn {
        font-size: 29px !important; 
    }
    .ar-footer{
        font-size: 29px !important;
    }
    .mainpagemargin_hp{
        margin: 12% 12% 12% 4% !important;
    }
    .hp-img-icon{
        height: 110% !important;
    }
    .mainpagemargin_arrested{
        margin-left: 25px;
    }
    .law_defence_hp{
        padding:10px 10px 10px 40px !important;
    }
    .menu_hp{
        font-size: 30px !important;
    }
    .trn{
        font-size: 30px !important;
    }
    .profile-name{
        font-size: 30px !important;
    }
    .profile-id{
        font-size: 30px !important;
    }
    .profile-desc{
        font-size: 30px !important;
    }
    .maps_hp{
        width:762px;
        height: 300px !important;
    }
}
@media screen and (min-width: 414px) and (max-width: 414px){
    .maps_hp{
        width:410px;
        height: 170px !important;
    }
}
@media screen and (min-width: 375px) and (max-width: 375px){
    .maps_hp{
        width:370px;
        height: 170px !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 320px){
    .maps_hp{
        width:316px;
        height: 170px !important;
    }
}
.toolbar_font_size{
    font-size: 14px;
    color: #DB1433;
}
.navigation-bar {
    background: #FFF;
    color: #DB1433;
     border: none; 
}
.toolbar_color{
    color: #DB1433;
}
@media screen and (min-width: 320px) and (max-width: 320px){
    .text-home{
      margin-left: 14%;
    }
}