<ion-view view-title="{{'Address Book' | translate}}">
<ion-content overflow-scroll="false">
    <div class="list padding">
        
        <div>
            <b>Name</b>:&nbsp;{{address_detail.firstname}}&nbsp;{{address_detail.lastname}} 
        </div>
        <div>
            <b>Company</b>:&nbsp;{{address_detail.company}}
        </div>
        <div>
            <b>Street</b>:&nbsp;{{address_detail.street}}
        </div>
        <div>
            <b>City</b>:&nbsp;{{address_detail.city}}
        </div>
        <div>
            <b>Region</b>:&nbsp;{{address_detail.region}}
        </div>
        <div>
            <b>Postcode</b>:&nbsp;{{address_detail.postcode}}
        </div>
        <div>
            <b>Telephone</b>:&nbsp;{{address_detail.telephone}}
        </div>
        
    </div>
</ion-content>
</ion-view>