<style>
.btn_cnt{background: #008BD5;border: none;padding: 10px;font-size: 30px;text-decoration: none !important;width: 100%;float: left;
color:#FFF}
.btn_cnt2{background:#343434;border: none;padding: 10px 20px;font-size:22px;text-decoration: none !important;color:#FFF}
.btn_cnt2:hover{color:#008BD5 !important}
.item-thumbnail-left, .item-thumbnail-left .item-content {    border: solid 1px #E2E2E2;    margin: 10px;    box-shadow: 0.5px 1px 1px #999;}
.item_full2 {    padding: 10px;    border-bottom: solid 2px #CCC;    font-size: 18px;color:#777;overflow: hidden;}
.coupon_inp{border-bottom:2px solid #008BD5 !important}
.btn_cnt3 {    border: none;    color: #FFF;    background: #008BD5;    font-size: 22px;    padding: 5px 20px;}
.c_box3{box-shadow: 0.5px 1px 1px #999;border:solid 1px #E2E2E2;overflow: hidden;border-radius: 5px;}
.c_box	{box-shadow: 0.5px 1px 1px #999;}
.item_containt{padding:0 10px}
.ion-chevron-right::before,.ion-chevron-down::before{     float: right;}
.item_title {   font-size: 20px;
color: #777;font-weight: bold;margin: 20px 0;}
.item{padding:10px !important}
.item_left {    float: left;    padding: 0px 10px;    border: 1px solid #E2E2E2;}
.item_right {    padding: 0 10px;    overflow: hidden;}
.price.ng-binding {color: #008BD5;}.item_50w{width:40%;float:left;padding-top:10px}
.item_50w a{text-decoration:none;text-transform:uppercase;}
.item_50w a.first{color:#383838;font-weight:bold}
.item_50w a.last{color:#008BD5;font-weight:bold}
.item_full {    width: 100%;    float: left;    border-top: 1px solid #E2E2E2;    margin-top: 25px;    text-align: center;}
.item_left1 {    float: left;    width: 50%;}
.item_right2 {    width: 50%;    float: left;    text-align: right;}
.col2{color:#383838 !important;border:none !important}
.iop{font-size:13px;float: left;width: 50%;}
.iop2{float: left;width: 50%;border-left: 2px solid #E2E2E2}
.iop_top {    margin-top: 10px;}
.qty-holder { float: right;    margin: 0 5px 0;}
.input-number-decrement {    border-right: none;    border-radius: 4px 0 0 4px;    float: left;}
.input-number-decrement, .input-number-increment {    display: inline-block;    width: 25px;    line-height: 18px;    background: #FFF;
color: #444;    text-align: center;    font-weight: bold;    cursor: pointer;}
.input-number, .input-number-decrement, .input-number-increment {    border: 2px solid #777;    height:25px;    border-radius: 0 !important;}
#qty { height: 23px;    border-radius: 0px;    border: none !important;    float: left;    width: 30px;
    text-align: center;    margin: 0;    padding: 0;}
</style>
<ion-view cache-view="false" view-title="{{'cart' | translate}}">
    <ion-content>
        <div class="list">
            <div ng-repeat="item in cartList" class="item item-thumbnail-left">
                <div class="item_left">
	                <img src="{{item.thumbnail_pic_url}}">
				</div>
                
                <div class="item_right">                    
	                <h2>{{item.item_title}}</h2>
                    <div>
                        <span class="price">
                            {{symbol}}{{item.item_price | number:0}}&nbsp;&nbsp;x&nbsp;{{item.qty}}
	                    </span>
                	</div>
                    
                    <div class="iop_top">
	                    <div class="iop" ng-if="item.custom_option">
                            <div ng-repeat="option in item.custom_option">
                                {{option.label}} : {{option.value}} <br />
                            </div>
                        </div>
                        
                        <div class="iop2">
                        	<div class="qty-holder">
                            <span style="font-size:13px"> {{'qty' | translate}} :</span> <br />
                             <span class="input-number-decrement" ng-click="qtyMinus()">-</span>
                              <input class="input-number" type="text" name="qty" id="qty"
                                     ng-model="qty" min="1" max="99" title="Qty">
                              <span class="input-number-increment" ng-click="qtyAdd()">+</span>                             
                          </div>
                        </div>
                        
                    </div>
                </div>    
                <div style="clear:both"></div>
                <div class="item_full">  
                	<div class="item_50w">                  
		                <a class="first" href="#" ng-click="doRemoveFromCart(item.cart_item_id)">Remove</a>
					</div>
                    <div class="item_50w">                                          
	    	            <a class="last" href="#" ng-click="doaddwishlistformcart(item.item_id, item.product_id)">Move To wishlist</a>
					</div>                        
                </div>    
            </div>                        
        </div>
        
        <div class="item_containt">
	        <div class="item_title">{{'options' | translate}}</div>
        	<div ng-repeat="group in groups" class="c_box c_box2 langchanger" style="">
                <ion-item class="item-stable item ng-binding" ng-click="toggleGroup(2)" ng-class="{active: isGroupShown(2)}" style="">
                <i class="pdetail_plus_icon_hr icon icon ion-chevron-down" ng-class="isGroupShown(2) ? 'ion-chevron-down' : 'ion-chevron-right'" style=""></i>
                &nbsp;
                {{'apply_coupon' | translate}}
                </ion-item>
                <ion-item class="item-accordion item ng-binding ng-hide" ng-repeat="item in group.items" ng-show="isGroupShown(2)">
                    <div class="row">                        	
                        <div class="inputset" style="text-align:center">  <br />
                            <input name="coupon" id="coupon" class="coupon_inp" type="text" placeholder="Enter coupon code" /><br />
                            <input class="btn_cnt3" type="button" value="Submit" name="continue" ng-click="coupon"/> 
                            <br />
                        </div>
                    </div>
                </ion-item>                      
            </div>
            
            <div class="item_title">{{'price_details' | translate}}</div>
            <div class="c_box3">
            	<div class="item_full2">
                	<div class="item_left1">
                    	Subtotal
                    </div>
                    <div class="item_right2">
                    	SAR360.00
                    </div>
                </div>
                <div class="item_full2">
                	<div class="item_left1">
                    	Tax
                    </div>
                    <div class="item_right2">
                    	SAR59.70
                    </div>
                </div>
                <div class="item_full2 col2">
                	<div class="item_left1">
                    	Grand Total
                    </div>
                    <div class="item_right2">
                    	SAR389.70
                    </div>
                </div>
            </div>
            
		</div>                
        
        <div style="text-align: center;margin-top: 20px;overflow: hidden;padding: 10px;">
            <a class="btn_cnt" target="_self" href="#app/checkout">Checkout</a>
        </div>
        <div style="text-align: center;overflow: hidden;padding: 10px;margin-bottom:65px;">
            <a class="btn_cnt2" target="_self" href="#app/home">Continue Shopping</a>
        </div>
    </ion-content>
</ion-view>
