<ion-view view-title="{{'Category List' | translate}}">
    <ion-content scroll="false" overflow-scroll="true">
        <ion-content lazy-scroll style="height:100%" overflow-scroll="true" direction="y" locking="true">
            <ion-refresher
                    pulling-text="{{'pull_to_refresh' | translate}}"
                    on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list class="prod-cat {{lineClass}}">
                <div class="product" ng-repeat="(key, product) in lists">                    
                    <input type="hidden" ng-model="number" value="{{key <4 ? number=key : number = 4}}">
                    <div class="product-inner prduct_image_{{number}}">
                        <a href="#app/CategoryProductList/{{product.category_id}}">
                            <div class="product-image">
                                <img image-lazy-src="{{product.thumbnail_url}}"
                                     lazy-scroll-resize="true"
                                     image-lazy-loader="lines">
                            </div>
                        </a>                        
                    </div>
                </div>
            </ion-list>
          
    </ion-content>
</ion-view>
