<style>
    .c_box b {  color:#333333  	}
    .c_box{border: 1px solid #E2E2E2;padding: 8px 8px 7px;margin: 10px 0;
           font-size: 16px;color: #777777;box-shadow: 0.5px 1px 1px #999;overflow:hidden}
    .item {border:none;    font-size: 16px;    border-bottom: solid 2px #2796CE !important;padding:0px !important}
    input::-moz-placeholder, textarea::-moz-placeholder {    color: #333 !important;}
    .binp{color: #777;
          font-weight: inherit;}
    .rbtn{margin: 4px 5px 0 0 !important;float: left;}
    .item-stable.item.ng-binding {    border: none;    margin: 0;}
    .item-stable.item.ng-binding.active {    background: none;}
    .ng-pristine.ng-valid {    width: 100%;}
    .ion-chevron-right::before{float:right;margin-top: 3px;}
    .ion-chevron-down::before{float:right;margin-top: 3px;}
    .item-accordion.item.ng-binding {    border: none;}
    .login_item222{font-size: 14px;text-align: center}
    table tr td{
        border: 2px solid #dcdcdc;
        width:10%;
    }
	.btn_cnt{background: #008BD5;border: none;padding: 10px;font-size: 30px;text-decoration: none !important;width: 100%;float: left;
color:#FFF}
</style>
<ion-view view-title="{{'checkout'| translate}}" >
    <ion-content overflow-scroll="false">
        <div class="list padding">
            <div class="login_item222" id="login_item1">
                Returning Customers?<a style="text-decoration: none !important;color:blue" href="#app/login"> Click here to Login ></a>
            </div>
            <ion-list class="disable-user-behavior">
                <div class="list">
                <form ng-submit="checkoutForm1()" name="checkoutForm">                
                    <div ng-repeat="group in groups" class="c_box c_box2 langchanger" style="">
                        <ion-item class="item-stable ng-binding" ng-click="toggleGroup(0)" ng-class="{active: isGroupShown(0)}" style="border-bottom: none !important">
                            <i class="pdetail_plus_icon_hr icon icon ion-chevron-down" ng-class="isGroupShown(0) ? 'ion-chevron-down' : 'ion - chevron - right'" style=""></i>
                            &nbsp;
                            {{'billing_info'| translate}}
                        </ion-item>
                        <ion-item class="item-accordion item ng-binding ng-hide" ng-repeat="item in group.items" ng-show="isGroupShown(0)">
                            <div class="">
                                    <div class="inputset">   
                                        <label class="item item-input">                
                                            <input type="text" name="bfirstname" id="bfirstname" placeholder="{{'first_name'| translate}}" ng-model="registerData.firstname">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="blastname" id="blastname" placeholder="{{'last_name'| translate}}" ng-model="registerData.lastname">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="bcompany" id="bcompany" placeholder="{{'company'| translate}}" ng-model="registerData.company">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="bemail" id="bemail" placeholder="{{'email_reg'| translate}}" ng-model="registerData.email">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="baddress1" id="baddress1" placeholder="{{'address_line1'| translate}}" ng-model="registerData.street">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="baddress2" id="baddress2" placeholder="{{'address_line2'| translate}}" ng-model="registerData.street">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="bcity" id="bcity" placeholder="{{'city'| translate}}" ng-model="registerData.city">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="bstate" id="bstate" placeholder="{{'state'| translate}}" ng-model="registerData.region">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="bzip" id="bzip" placeholder="{{'zip'| translate}}" ng-model="registerData.postcode">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="bcountry" id="bcountry" placeholder="{{'country'| translate}}" ng-model="registerData.country">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="btelephone" id="btelephone" placeholder="{{'telephone'| translate}}" ng-model="registerData.telephone">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="bfax" id="bfax" placeholder="{{'fax'| translate}}" ng-model="registerData.fax">
                                        </label>
                                    </div>

                                    <div class="inputset">  
                                        <input class="rbtn" type="radio" ng-click="biiling_rbutton($event);" name="braddress" value="same_address" /> <b class="binp">{{'ship_to_this_address'| translate}}</b><br />
                                        <input class="rbtn" type="radio" ng-click="biiling_rbutton($event);" name="braddress" value="diff_address" /> <b class="binp">{{'ship_to_diff_address'| translate}}</b>
                                    </div>

                                    <div class="inputset" style="text-align:center">  <br />
                                        <input class="btn_cnt" type="button" value="Continue" name="continue" ng-click="toggleGroup(1)"/> <br />
                                    </div>
                                
                            </div>
                        </ion-item>                      
                    </div>

                    <div ng-repeat="group in groups" class="c_box c_box2 langchanger" style="">
                        <ion-item class="item-stable ng-binding" ng-click="toggleGroup(1)" ng-class="{active: isGroupShown(1)}"  style="border-bottom: none !important">
                            <i class="pdetail_plus_icon_hr icon icon ion-chevron-down" ng-class="isGroupShown(1) ? 'ion-chevron-down' : 'ion - chevron - right'"></i>
                            &nbsp;
                            {{'shipping_info'| translate}}
                        </ion-item>
                        <ion-item class="item-accordion item ng-binding ng-hide" ng-repeat="item in group.items" ng-show="isGroupShown(1)">
                            <div class="">
                                               
                                    <div class="inputset">   
                                        <label class="item item-input">                
                                            <input type="text" name="sfirstname" id="sfirstname" placeholder="{{'first_name'| translate}}" ng-model="shipData.firstname">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="slastname" id="slastname" placeholder="{{'last_name'| translate}}" ng-model="shipData.lastname">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="scompany" id="scompany" placeholder="{{'company'| translate}}" ng-model="shipData.company">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="semail" id="semail" placeholder="{{'email_reg'| translate}}" ng-model="shipData.email">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="saddress1" id="saddress1" placeholder="{{'address_line1'| translate}}" ng-model="shipData.street">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="saddress2" id="saddress2" placeholder="{{'address_line2'| translate}}" ng-model="shipData.street">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="scity" id="scity" placeholder="{{'city'| translate}}" ng-model="shipData.city">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="sstate" id="sstate" placeholder="{{'state'| translate}}" ng-model="shipData.region">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="szip" id="szip" placeholder="{{'zip'| translate}}" ng-model="shipData.postcode">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="scountry" id="scountry" placeholder="{{'country'| translate}}" ng-model="shipData.country">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="stelephone" id="stelephone" placeholder="{{'telephone'| translate}}" ng-model="shipData.telephone">
                                        </label>
                                    </div>
                                    <div class="inputset">  
                                        <label class="item item-input">                  
                                            <input type="text" name="sfax" id="sfax" placeholder="{{'fax'| translate}}" ng-model="shipData.fax">
                                        </label>
                                    </div>


                                    <div class="inputset" style="text-align:center">  <br />
                                        <input class="btn_cnt" type="button" value="Continue" name="continue" ng-click="toggleGroup(2)"/> <br />
                                    </div>
                                
                            </div>
                        </ion-item>                      
                    </div>

                    <div ng-repeat="group in groups" class="c_box c_box2 langchanger" style="">
                        <ion-item class="item-stable ng-binding" ng-click="toggleGroup(2)" ng-class="{active: isGroupShown(2)}"  style="border-bottom: none !important">
                            <i class="pdetail_plus_icon_hr icon icon ion-chevron-down" ng-class="isGroupShown(2) ? 'ion-chevron-down' : 'ion - chevron - right'" style=""></i>
                            &nbsp;
                            {{'shipping_method'| translate}}
                        </ion-item>
                        <ion-item class="item-accordion item ng-binding ng-hide" ng-repeat="item in group.items" ng-show="isGroupShown(2)">
                            <div class="">
                                <div class="inputset" style="text-align:center">  <br />
                                    <input class="btn_cnt" type="button" value="Continue" name="continue" ng-click="toggleGroup(3)"/> <br />
                                </div>
                            </div>
                        </ion-item>                      
                    </div>

                    <div ng-repeat="group in groups" class="c_box c_box2 langchanger" style="">
                        <ion-item class="item-stable ng-binding" ng-click="toggleGroup(3)" ng-class="{active: isGroupShown(3)}"  style="border-bottom: none !important">
                            <i class="pdetail_plus_icon_hr icon icon ion-chevron-down" ng-class="isGroupShown(3) ? 'ion-chevron-down' : 'ion - chevron - right'" style=""></i>
                            &nbsp;
                            {{'payment_info'| translate}}
                        </ion-item>
                        <ion-item class="item-accordion item ng-binding ng-hide" ng-repeat="item in group.items" ng-show="isGroupShown(3)">
                            <div class="">
                                <div class="inputset">  
                                    
                                <span  ng-repeat="value in payment_method">    
                                    <input class="rbtn" type="radio" name="payment_info_rbutton" id="{{value.code}}" value="{{value.code}}" /> <b class="binp">{{value.title}}</b><br />
                                </span>    
                                    
                                    
<!--                                    <input class="rbtn" type="radio" name="payment_info_rbutton" checked="checked" id="payment_info_rbutton_paypal" value="credit_card" /> <b class="binp">{{'credit_card'| translate}}</b><br />
                                    <input class="rbtn" type="radio" name="payment_info_rbutton" id="payment_info_rbutton_cash" value="cash_on_delivery" /> <b class="binp">{{'cash_on_delivery'| translate}}</b>-->
<!--                                    <input class="rbtn" type="radio" ng-click="payment_info_rbutton($event);" name="payment_info_rbutton" value="credit_card" /> <b class="binp">{{'credit_card'| translate}}</b><br />
                                    <input class="rbtn" type="radio" ng-click="payment_info_rbutton($event);" name="payment_info_rbutton" value="cash_on_delivery" /> <b class="binp">{{'cash_on_delivery'| translate}}</b>-->
                                </div><br />
                                <div class="inputset" style="text-align:center">  <br />
                                    <input class="btn_cnt" type="button" value="Continue" name="continue" ng-click="toggleGroup(4)"/> <br />
                                </div>
                            </div>
                        </ion-item>                      
                    </div>

                    <div ng-repeat="group in groups" class="c_box c_box2 langchanger" style="">
                        <ion-item class="item-stable ng-binding" ng-click="toggleGroup(4)" ng-class="{active: isGroupShown(4)}" style="border-bottom: none !important">
                            <i class="pdetail_plus_icon_hr icon icon ion-chevron-down" ng-class="isGroupShown(4) ? 'ion-chevron-down' : 'ion - chevron - right'" style=""></i>
                            &nbsp;
                            {{'order_review'| translate}}
                        </ion-item>
                        <ion-item class="item-accordion item ng-binding ng-hide" ng-repeat="item in group.items" ng-show="isGroupShown(4)">
                            <div class="row" style="overflow-y: hidden;">
                                <table>
                                    <tr>
                                        <td>
                                            Product Name
                                        </td>
                                        <td>
                                            Price
                                        </td>
                                        <td>
                                            Qty
                                        </td>
                                        <td>
                                            Subtotal
                                        </td>
                                    </tr>
                                    <tr ng-repeat="(key , order_data) in order_review_data">
                                        <td>
                                            {{order_data.item_title}}
                                        </td>
                                        <td>
                                            {{order_data.item_price}}
                                        </td>
                                        <td>
                                            {{order_data.qty}}
                                        </td>
                                        <td>
                                            {{(order_data.item_price * order_data.qty)}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Subtotal</td>
                                        <td>{{subtotal}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Shipping & Handling </td>
                                        <td>SAR0.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Grand Total</td>
                                        <td>{{subtotal + shipping_price}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="inputset" style="text-align:center">  <br />
                                    <input class="btn_cnt" type="submit" value="Submit" name="submit" />
                            </div>
                        </ion-item>                      
                    </div>
                </form>
                </div>                            
            </ion-list>                        


        </div>
        <br /><Br /><br />
    </ion-content>
</ion-view>