<style>
    .table_top tr,.table_top td {
    border: 1px solid black;
    text-align: center;
}
    .table_top{
        margin-top: 10px !important;
    }

</style>
<ion-view view-title="{{'Contact Us' | translate}}">
<ion-content overflow-scroll="false">
    <div class="list padding">
        <div style="padding:10px;font-size: 14px">
            <span>Manage your orders</span>
            <table class="table_top">
                <tr>
                    <td style="width:100px">
                        <span class="ion-ios-paw"></span>
                        <br>
                        Track
                    </td>
                    <td style="width:150px">
                        <span class="ion-ios-cart"></span>
                        <br>
                        Cancel
                    </td>
                    <td style="width:100px">
                        <span class="ion-ios-cart"></span>
                        <br>
                        Return
                    </td>
                </tr>
            </table>
            <div style="border: 1px solid black;padding: 10px;margin-top: 30px !important;">
                Leave a Message
                <span class="ion-chevron-right" style="float:right"></span>
            </div>
            <div style="margin-top: 30px">Contact Details</div>
            <div style="border: 1px solid black;padding: 10px;margin-top: 20px !important;">
                <span class="ion-android-call" style="float:left"></span>
                &nbsp;&nbsp; 0201 203 2032
            </div>
            <div style="border: 1px solid black;padding: 10px;margin-top: 10px !important;">
                <span class="ion-iphone" style="float:left"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;201-123-3922
            </div>
            <div style="border: 1px solid black;padding: 10px;margin-top: 10px !important;">
                <span class="ion-email" style="float:left"></span>
                &nbsp;&nbsp;mail@example.com
            </div>
            <div style="margin-top: 10px">Follow Us</div>
            <table style="margin-top: 10px;text-align: center">
                <tr>
                    <td style="width:100px">
                        <span class="ion-social-twitter"></span>
                    </td>
                    <td style="width:100px">
                        <span class="ion-social-facebook"></span>
                    </td>
                    <td style="width:100px">
                        <span class="ion-social-googleplus-outline"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</ion-content>
</ion-view>