<style>
.table_top tr, .table_top td {
    border: 1px solid #E2E2E2;
    text-align: center;
    font-size: 16px;
    box-shadow: 0.5px 1px 2px #999;
    color: #999999;
    padding: 10px 0;
}
.icon-t{color:#2E2E2E}
    .table_top{
        margin-top: 10px !important;
    }
.c_box{border: 1px solid #E2E2E2;
padding: 8px 8px 3px;
margin: 10px 0;
font-size: 16px;
font-weight: bold;
color: #303030;
box-shadow: 0.5px 1px 1px #999;overflow:hidden
}
.c_span1{float:left}
.c_span2{float: left;
margin-top: 7%;}
.c_box.c_box2 {
    padding: 8px;
    margin-top: 30px;
}
.c_title{color:#797979;font-size:19px;}
</style>
<ion-view view-title="{{'contact_us' | translate}}">
<ion-content overflow-scroll="false">
    <div class="list padding">
         <div style="padding:10px;font-size: 14px">
            
            <a href="sms:2011233922" style="text-decoration: none !important;color:#000000 !important">
                <div class='c_box c_box2 langchanger'>
                    <span class="contact_lam_hr">{{'leave_a_message' | translate}}</span>
                    <span class="ion-chevron-right" style="float:right"></span>
                </div>
            </a>
            <div style="width: 100%"><iframe width="100%" height="190" src="http://www.mapi.ie/create-google-map/map.php?width=100%&amp;height=190&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/fr/mesurer-distance-surface-google-maps.html">distance entre deux points carte</a> en <a href="http://www.mapsdirections.info/fr/">www.mapsdirections.info/fr/</a></iframe></div><br />
            <div class="c_title langchanger" style="margin-top: 30px;margin-bottom:20px;">{{'contact_details' | translate}}</div>
            <a href="tel:2012032032" style="text-decoration: none !important;color:#000000 !important">
                <div class='c_box'>
                    <span class="c_span1"><img src="img/call-c.png" width="54" height="55" /></span>
                    <span class="c_span2">&nbsp;&nbsp; 0201 203 2032</span>
                </div>
            </a>
            <a href="tel:2011233922" style="text-decoration: none !important;color:#000000 !important">
                <div class="c_box">
					<span class="c_span1"><img src="img/call-c2.png" width="54" height="55" /></span>
                    <span class="c_span2">&nbsp;&nbsp;201-123-3922</span>
                </div>
            </a>
            <a href="mailto:hardik4hardik@gmail.com" style="text-decoration: none !important;color:#000000 !important">
                <div class="c_box">
                	<span class="c_span1"><img src="img/msg-c.png" width="54" height="55" /></span>
                    <span class="c_span2">&nbsp;&nbsp;mail@example.com</span>
                </div>
            </a>
            <div class="c_title langchanger" style="margin-top:25px;margin-bottom:20px">{{'follow_us' | translate}}</div>
            <table style="margin-top: 10px;text-align: center">
                <tr>
                    <td style="width:100px">
                        <img src="img/twt-c.png" width="74" height="74" />
                    </td>
                    <td style="width:100px">
						<img src="img/fb-c.png" width="74" height="74" />
                    </td>
                    <td style="width:100px">
						<img src="img/pin-c.png" width="74" height="74"  />
                     </td>
                </tr>
            </table>
        </div>
    </div>
</ion-content>
</ion-view>