<ion-view view-title="{{'home' | translate}}">
    <ion-nav-title>
        <img class="" src="img/logo.png">
                
    </ion-nav-title>
    <!-- end img swiper -->
        <div class="list list-inset">
            <form id="search" ng-submit="onSearch()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input  type="text" placeholder="{{'enter_the_key' | translate}}" ng-model="searchData.text">
            </label>
            <input  type="hidden" class="button button-full button-assertive" value="{{'quick_search' | translate}}" />
            </form>
        </div>
    <ion-content>    
        <style>
.slick-container {
  width: 100%;
  margin: auto;
  padding: 5px;
}

.slick-item {}

.slick-item img {
  margin: auto;
}
.product-inner {
    border: solid 1px #666;
    margin: 0 5px;
    border-radius: 5px;
    text-align: center !important;padding:2px 0;overflow: hidden;
}

.prod_slider img {
    /*height: 150px;*/
	margin-top: 2px !important;
}
.product-name.ng-binding {
    font-size: 11px;
    color: #777;
}
.price-box .price, .category-products .product .price-box .price {
    color: #06C;font-size:90%}
	.new-lbl {
   background: #009900;
color: #FFF;
padding: 0 4px;
margin:3px;
border-radius: 3px !important;
}.p_lbl {
    text-align: right;
}
.p_footer img {
    width: auto !important;
}
.img_left{}
.img_center{text-align:center}
.img_right{text-align:right}
.p_footer,.p_footer img{text-align:center !important}
.p_footer span {
    width: 33% !important;
    float: left;
    text-align: center !important;
}
.p_rating img {
    width: 66%;
    height: 50%;
}
.bar.bar-assertive.bar-footer{background:none !important}
.bar.bar-assertive{background-color:#FFF !important;border:none !important}
.bar-assertive .button {
    border-color: #CCC;    margin-right: 3px;
    background-color:#CCC;
    color: #0088CC;
}
</style>
        <!-- img swiper -->
        <!--
        <div class="homebanner-swiper-container">
            <img class="loading-image" src="img/loading.gif">
            <ion-slide-box delegate-handle="image-viewer" show-pager="true"
                    auto-play="true" does-continue="true"
                    slide-interval="3000" on-slide-changed="goFirst($index)"
                  >
                <ion-slide ng-repeat="img in banner1" ng-init="updateSlider()">
                    <img class="fullwidth" ng-src="{{img}}"><span></span>
                </ion-slide>
            </ion-slide-box>
        </div>-->
        
        <div class="hk-image-div">
        	<div class="row">
            <div class="col-sm-3 col-xs-6"><a class="image-link" href="#"> <img alt="" src="http://pr.veba.co/~shubantech/ebranch/media/wysiwyg/porto/homepage/slider/05/image_1.png"> </a></div>
            <div class="col-sm-3 col-xs-6"><a class="image-link" href="#"> <img alt="" src="http://pr.veba.co/~shubantech/ebranch/media/wysiwyg/porto/homepage/slider/05/image_2.png"> </a></div>
            </div>
            <div class="row">
            <div class="col-sm-3 col-xs-6"><a class="image-link" href="#"> <img alt="" src="http://pr.veba.co/~shubantech/ebranch/media/wysiwyg/porto/homepage/slider/05/image_3.png"> </a></div>
            <div class="col-sm-3 col-xs-6"><a class="image-link" href="#"> <img alt="" src="http://pr.veba.co/~shubantech/ebranch/media/wysiwyg/porto/homepage/slider/05/image_4.png"> </a></div>
            </div>
        </div>
        

        
        <!--New product list -->
        <div style="clear:both">&nbsp;</div>
        <div class="p_title">Special Offers</div>
       <div class="prodlist ">
            <slick ng-if="lists_daily.length" infinite=true 
           slides-to-show=2 
           slides-to-scroll=2  >

            <div class="prod_slider slick-item" ng-repeat="product in lists_daily">			
                <div class="product-inner">
                <div class="p_lbl"><span class="new-lbl">New</span></div>
        <a href="#app/productDetail/{{product.entity_id}}">
            <div class="product-image">
                <img image-lazy-src="{{product.image_url}}"
                     lazy-scroll-resize="true"
                     image-lazy-loader="lines">
            </div>
        </a>        
        <div class="product-info">
            <div class="product-name">
                {{product.name}}
            </div>
        		
            <div  class="product-price">
                <div class="price-box">
                  <span ng-if="product.discount != null" class="special-price">
                      <span class="special-price">
                          <span class="price">
                              {{product.symbol}}{{product.final_price_with_tax}}
                          </span>
                          &nbsp;
                          <span class="old-price">
                              {{product.regular_price_with_tax | number:0}}
                          </span>
                      </span>
                  </span>
                  <span ng-if="product.discount == null" class="special-price">
                      <span class="special-price">
                          <span class="price">
                              {{product.symbol}}{{product.regular_price_with_tax}}
                          </span>
                      </span>
                  </span>
                  <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                      <span class="price">
                          {{product.discount}}
                      </span>
                  </span>
                </div>
            </div>
            
            <div class="p_footer">
            	<span class="img_left">
            	<img src="img/share-25.png" height="25" width="25" />                
                </span>
                <span class="img_center">
                <img class="" src="img/cart-25.png" height="25" width="25" />
                </span>
                <span class="img_right">
                <img class="" src="img/save-25.png" height="25" width="25" />
                </span>
            </div>
            
        </div>
        </div>            
            </div> 
            </slick>
        </div>
       
        <div style="clear:both">&nbsp;</div>
        <div class="p_title">New Products</div>
        <div class="prodlist ">	
        <slick ng-if="lists_new.length" infinite=true 
           slides-to-show=2 
           slides-to-scroll=2 >
    	           
            <div class="prod_slider slick-item" ng-repeat="product in lists_new">			
                <div class="product-inner">
                <div class="p_lbl"><span class="new-lbl">New</span></div>
            <a href="#app/productDetail/{{product.entity_id}}">
                <div class="product-image">
                    <img image-lazy-src="{{product.image_url}}"
                         lazy-scroll-resize="true"
                         image-lazy-loader="lines">
                </div>
            </a>
            
            <div class="product-info">
                <div class="product-name">
                    {{product.name}}
                </div>
            	
                <div  class="product-price">                		
                    <div class="price-box">                    	
                      <span ng-if="product.discount != null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.final_price_with_tax}}
                              </span>
                              &nbsp;
                              <span class="old-price">
                                  {{product.regular_price_with_tax | number:0}}
                              </span>
                          </span>
                      </span>
                      <span ng-if="product.discount == null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.regular_price_with_tax}}
                              </span>
                          </span>
                      </span>
                      <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                          <span class="price">
                              {{product.discount}}
                          </span>
                      </span>
                    </div>
                </div>
                
                <div class="p_footer">
            	<span class="img_left">
            	<img src="img/share-25.png" height="25" width="25" />                
                </span>
                <span class="img_center">
                <img class="" src="img/cart-25.png" height="25" width="25" />
                </span>
                <span class="img_right">
                <img class="" src="img/save-25.png" height="25" width="25" />
                </span>
            </div>
            </div>
            </div>            
            </div>
            </slick> 
        </div>
        
        <div style="clear:both">&nbsp;</div>
        <div class="p_title">Best Selling Products</div>
        <div class="prodlist ">	    
        <slick ng-if="lists_best.length" infinite=true 
           slides-to-show=3 
           slides-to-scroll=3 >
	           
            <div class="prod_slider slick-item" ng-repeat="product in lists_best">			
                <div class="product-inner">
                <div class="p_lbl"><span class="new-lbl">New</span></div>
            <a href="#app/productDetail/{{product.entity_id}}">
                <div class="product-image">
                    <img image-lazy-src="{{product.image_url}}"
                         lazy-scroll-resize="true"
                         image-lazy-loader="lines">
                </div>
            </a>
            
            <div class="product-info">
                <div class="product-name">
                    {{product.name}}
                </div>
            	
                <div  class="product-price">
                    <div class="price-box">
                      <span ng-if="product.discount != null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.final_price_with_tax}}
                              </span>
                              &nbsp;
                              <span class="old-price">
                                  {{product.regular_price_with_tax | number:0}}
                              </span>
                          </span>
                      </span>
                      <span ng-if="product.discount == null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.regular_price_with_tax}}
                              </span>
                          </span>
                      </span>
                      <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                          <span class="price">
                              {{product.discount}}
                          </span>
                      </span>
                    </div>
                </div>
                <div class="p_footer">
            	<span class="img_left">
            	<img src="img/share-25.png" height="25" width="25" />                
                </span>
                <span class="img_center">
                <img class="" src="img/cart-25.png" height="25" width="25" />
                </span>
                <span class="img_right">
                <img class="" src="img/save-25.png" height="25" width="25" />
                </span>
            </div>
            </div>
            </div>            
            </div> 
            </slick>
        </div>
        
        
        <div style="clear:both">&nbsp;</div>
        <div class="p_title">Last Products</div>
        <div class="prodlist ">	
        <slick ng-if="lists_catalog.length" infinite=true 
           slides-to-show=3 
           slides-to-scroll=3 >
    	           
            <div class="prod_slider slick-item" ng-repeat="product in lists_catalog">			
                <div class="product-inner">
                <div class="p_lbl"><span class="new-lbl">New</span></div>
            <a href="#app/productDetail/{{product.entity_id}}">
                <div class="product-image">
                    <img image-lazy-src="{{product.image_url}}"
                         lazy-scroll-resize="true"
                         image-lazy-loader="lines">
                </div>
            </a>
            
            <div class="product-info">
                <div class="product-name">
                    {{product.name}}
                </div>
            	
            
                <div  class="product-price">
                    <div class="price-box">
                      <span ng-if="product.discount != null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.final_price_with_tax}}
                              </span>
                              &nbsp;
                              <span class="old-price">
                                  {{product.regular_price_with_tax | number:0}}
                              </span>
                          </span>
                      </span>
                      <span ng-if="product.discount == null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.regular_price_with_tax}}
                              </span>
                          </span>
                      </span>
                      <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                          <span class="price">
                              {{product.discount}}
                          </span>
                      </span>
                    </div>
                </div>
                
                <div class="p_footer">
            	<span class="img_left">
            	<img src="img/share-25.png" height="25" width="25" />                
                </span>
                <span class="img_center">
                <img class="" src="img/cart-25.png" height="25" width="25" />
                </span>
                <span class="img_right">
                <img class="" src="img/save-25.png" height="25" width="25" />
                </span>
            </div>
            </div>
            </div>            
            </div> 
            </slick>
        </div>            
                
		<div style="clear:both">&nbsp;</div>

        

        
        <!-- end img swiper -->
        <!--
        <div class="list list-inset">
            <form id="search" ng-submit="onSearch()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input  type="text" placeholder="{{'enter_the_key' | translate}}" ng-model="searchData.text">
            </label>
            <button  type="submit" class="button button-full button-assertive">{{'quick_search' | translate}}</button>
            </form>
        </div>
                        
			
        <div class="padding-horizontal">
            <div class="button-bar">
                <a href="#app/searchAdv" class="button button-light icon icon-top ion-ios-search-strong"><br>
                    {{'product_searchadv' | translate}}</a>
                <a href="#app/lists/daily_sale" class="button button-light icon icon-top ion-ios-pricetags-outline"><br>
                    {{'latest_promotions' | translate}}</a>
                <a href="#app/lists/new" class="button button-light icon icon-top ion-ios-star-outline"><br>
                    {{'common_products' | translate}}</a>
            </div>
            <div class="button-bar">
                <a href="#app/certDownload" class="button button-light icon icon-top ion-clipboard"><br>
                    {{'cert_download' | translate}}</a>
                <a href="#app/searchAgent" class="button button-light icon icon-top ion-ios-location"><br>
                    {{'search_agent' | translate}}</a>
                <a href="#app/frame/survey" class="button button-light icon icon-top ion-android-checkbox-outline"><br>
                    {{'survey' | translate}}</a>
            </div>
        </div>    -->  
    </ion-content>
    <div class="bar bar-footer bar-assertive">
		<a href="#app/home" class="button icon ion-home"></a>
        <a href="#app/lists/daily_sale" class="button icon ion-ios-pricetag"></a>
        <a href="#app/searchAdv" class="button icon ion-search"></a>
        <a href="#app/home" class="button icon ion-ios-cart"></a>
        <a href="#app/home" class="button icon ion-person"></a>
    </div>
</ion-view>
