<style>
.slick-container {  width: 95%;  margin: auto;  padding: 5px;}
.slick-item {}.slick-item img {  margin: auto;}
.product-inner {  border: solid 1px #E6E6E6;margin: 0 5px;border-radius: 5px;text-align: center !important;padding: 2px 0;overflow: hidden;
box-shadow: 1px 1px 3px #E6E6E6;}
.prod_slider img {    /*height: 150px;*/	margin-top: 2px !important;}
.product-name.ng-binding {    font-size: 11px;    color: #777;}
.price-box .price, .category-products .product .price-box .price {color: #06C;font-size:90%}
.new-lbl {background: #009900;color: #FFF;padding: 0 4px;margin:3px;border-radius: 3px !important;}
.p_lbl {    text-align: right;}.p_footer img {    width: auto !important;}
.img_left{}.img_center{text-align:center}.img_right{text-align:right}
.p_footer,.p_footer img{text-align:center !important}
.p_footer span {width: 33% !important;    float: left;    text-align: center !important;	background:none !important;}
.p_rating img {    width: 66%;    height: 50%;}
.bar.bar-assertive.bar-footer{background:#FFF !important}
.bar.bar-assertive{background-color:#FFF !important;border:none !important}
.bar-assertive .button {    border-color: #CCC;    margin-right: 3px;    background-color:#CCC;    color: #0088CC;}
.home-header{min-height:115px;}.home-content{margin-top:70px;}.h-bar-stable {    width: 100%;}
.h-bar1 {    width: 20%;    float: left;margin-top: 9px;}.h-bar2 {    width: 60%;    float: left;}
.h-bar3 {    width: 20%;    float: left;margin-top: 10px;text-align:right}
.h-search {    width: 94%;    float: left;margin: 0 3%;}
.mycbtn {    top: 16px;     right: 12px; }
.item.item-input {    border: none;    border-radius: 5px;}
.bar.bar-light {    background: #E5E5E5;border-bottom: 3px solid #0487CF;}
@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 1) {
.home-header{min-height: 140px;}.mycbtn {top: 35px;}
.header-set1{ min-height: 170px;}.menu-h-set {top: 170px !important;bottom: 45px;}
.profile-footer {margin-bottom: 45px;
}
@media only screen and (min-device-width: 481px) and 
(max-device-width: 1024px) and (orientation:portrait) {
}
@media only screen and (min-device-width: 481px) and 
(max-device-width: 1024px) and (orientation:landscape) {
}
</style>
<ion-view hide-nav-bar="true">
<ion-header-bar ng-show="1" class="menus bar-light home-header">
		
        <div class="h-bar-stable">

            <div class="h-bar1">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </div>
                
            <div class="h-logo h-bar2">
                <img class="" src="img/logo.png">		                                
            </div>                
            
            <div class="h-bar3">
                <a class="pc add-to-cart-left button-outline button-assertive ion-android-cart" href="#app/cart">
                <span class="mycbtn">{{items_qty}}</span></a>            
            </div>
            
            
            <div class="h-search">
                <form id="searAdv" ng-submit="onSearch()">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input  type="text" placeholder="{{'enter_the_key' | translate}}" ng-model="searchData.text">
                </label>
                <input  type="hidden" class="button button-full button-assertive" value="{{'quick_search' | translate}}" />
                </form>
	   		 </div>
    	</div>
    		                        

            	
    </ion-header-bar>
    
        
    <ion-content class='home-content'>            
      
        <div class="hk-image-div">
        	<div class="row">
            <div class="col-sm-3 col-xs-6"><a class="image-link" href="#"> <img alt="" src="http://pr.veba.co/~shubantech/ebranch/media/wysiwyg/porto/homepage/slider/05/image_1.png"> </a></div>
            <div class="col-sm-3 col-xs-6"><a class="image-link" href="#"> <img alt="" src="http://pr.veba.co/~shubantech/ebranch/media/wysiwyg/porto/homepage/slider/05/image_2.png"> </a></div>
            </div>
            <div class="row">
            <div class="col-sm-3 col-xs-6"><a class="image-link" href="#"> <img alt="" src="http://pr.veba.co/~shubantech/ebranch/media/wysiwyg/porto/homepage/slider/05/image_3.png"> </a></div>
            <div class="col-sm-3 col-xs-6"><a class="image-link" href="#"> <img alt="" src="http://pr.veba.co/~shubantech/ebranch/media/wysiwyg/porto/homepage/slider/05/image_4.png"> </a></div>
            </div>
        </div>
        
        
        
        
        <!--New product list -->
        <div style="clear:both">&nbsp;</div>
        
        <div class="p_title">{{'new_products' | translate}}</div>
         <div style="width:50px;margin:0 auto">
         	<ion-spinner icon="spiral" ng-show="loading1"></ion-spinner>            
        </div>
        <div class="prodlist ">	
        <slick ng-if="dataLoaded2" init-onload="false" data="dataLoaded2"  variable-width="true"  slides-to-scroll="2"   infinite="true" slides-to-show="3">
    	           
            <div class="prod_slider slick-item" ng-repeat="product in lists_new">			
                <div class="product-inner">
                <div class="p_lbl"><span class="new-lbl">New</span></div>
            <a href="#app/productDetail/{{product.entity_id}}">
                <div class="product-image">
                    <img image-lazy-src="{{product.image_url}}"
                         lazy-scroll-resize="true"
                         image-lazy-loader="lines">
                </div>
            </a>
            
            <div class="product-info">
                <div class="product-name">
                    {{product.name}}
                </div>
            			<div class="p_rating">                
                            <div class="ratings">
                                <div class="rating-box">
                                  <div class="rating" style="width:{{product.ratings}}%;"></div>
                                </div>                    
                            </div>
                        </div>
                <div  class="product-price">                		
                    <div class="price-box">                    	
                      <span ng-if="product.discount != null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.final_price_with_tax}}
                              </span>
                              &nbsp;
                              <span class="old-price">
                                  {{product.regular_price_with_tax | number:0}}
                              </span>
                          </span>
                      </span>
                      <span ng-if="product.discount == null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.regular_price_with_tax}}
                              </span>
                          </span>
                      </span>
                      <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                          <span class="price">
                              {{product.discount}}
                          </span>
                      </span>
                    </div>
                </div>
                
                <div class="p_footer">
            	<span class="img_left">
                <a href="#" ng-click="sharewithfriend()">	
            	<img src="img/share-25.png" height="25" width="25" /></a>
                </span>
                <span class="img_center">
                	<div ng-init="myVar = '#app/productDetail/'">
                        <a ng-href="{{myVar}}{{product.entity_id}}">
                            <img class="" src="img/cart-32.png" height="25" width="25" />
                         </a>
                    </div>        
                </span>
                <span class="img_right">                	                                        
					 <div ng-if="true == product.is_in_wishlist">
                        <img class="save-img product_entity_id"  src="img/icon-25.png" height="25" width="25" />
                     </div>
                     
                     <div ng-if="true != product.is_in_wishlist">
                        <img class="save-img product_entity_id" src="img/save-25.png" id='wishlist_{{product.entity_id}}' height="25" width="25" ng-click="doWhishlistAdd(product.entity_id)" />
                     </div>                    
                </span>
            </div>
            </div>
            </div>            
            </div>
            </slick> 
        </div>
        
        <div class="p_title">{{'special_offers' | translate}}</div>
        <div style="width:50px;margin:0 auto">
            <ion-spinner icon="spiral" ng-show="loading1"></ion-spinner>
        </div>        
        <div class="prodlist ">
            <slick ng-if="dataLoaded1" init-onload="false" data="dataLoaded1" variable-width="true"  slides-to-scroll="2"  infinite="true"  slides-to-show="2">

            <div class="prod_slider slick-item"  ng-repeat="product in lists_daily">			
                <div class="product-inner">
                <div class="p_lbl"><span class="new-lbl">New</span></div>
        <a href="#app/productDetail/{{product.entity_id}}">
            <div class="product-image">
                <img image-lazy-src="{{product.image_url}}"  lazy-scroll-resize="true"
                             image-lazy-loader="lines"
                   >
            </div>
        </a>        
        <div class="product-info">
            <div class="product-name">
                {{product.name}}
            </div>
        	<div class="p_rating">                
                            <div class="ratings">
                                <div class="rating-box">
                                  <div class="rating" style="width:{{product.ratings}}%;"></div>
                                </div>                    
                            </div>
                        </div>	
            <div  class="product-price">
                <div class="price-box">
                  <span ng-if="product.discount != null" class="special-price">
                      <span class="special-price">
                          <span class="price">
                              {{product.symbol}}{{product.final_price_with_tax}}
                          </span>
                          &nbsp;
                          <span class="old-price">
                              {{product.regular_price_with_tax | number:0}}
                          </span>
                      </span>
                  </span>
                  <span ng-if="product.discount == null" class="special-price">
                      <span class="special-price">
                          <span class="price">
                              {{product.symbol}}{{product.regular_price_with_tax}}
                          </span>
                      </span>
                  </span>
                  <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                      <span class="price">
                          {{product.discount}}
                      </span>
                  </span>
                </div>
            </div>
            
            <div class="p_footer">
            	<span class="img_left">
                <a href="#" ng-click="sharewithfriend()">	
            	<img src="img/share-25.png" height="25" width="25" /></a>
                </span>
                <span class="img_center">
                	<div ng-init="myVar = '#app/productDetail/'">
                        <a ng-href="{{myVar}}{{product.entity_id}}">
                            <img class="" src="img/cart-32.png" height="25" width="25" />
                         </a>
                    </div>        
                </span>
                <span class="img_right">
					<div ng-if="true == product.is_in_wishlist">
                        <img class="save-img product_entity_id"  src="img/icon-25.png" height="25" width="25" />
                     </div>
                     
                     <div ng-if="true != product.is_in_wishlist">
                        <img class="save-img product_entity_id" src="img/save-25.png" id='wishlist_{{product.entity_id}}' height="25" width="25" ng-click="doWhishlistAdd(product.entity_id)" />
                     </div>                	
                </span>
            </div>
            
        </div>
        </div>            
            </div> 
            </slick>
        </div>
                		                    
        
               
        <div class="p_title">{{'best_selling_products' | translate}}</div>
         <div style="width:50px;margin:0 auto">
            <ion-spinner icon="spiral" ng-show="loading1"></ion-spinner>
        </div>
         <div class="prodlist ">	    
       <slick ng-if="dataLoaded3" init-onload="false" data="dataLoaded3" variable-width="true"  slides-to-scroll="2"   infinite="true" slides-to-show="3">
    	 
	           
            <div class="prod_slider slick-item" ng-repeat="product in lists_best">			
                <div class="product-inner">
                <div class="p_lbl"><span class="new-lbl">New</span></div>
            <a href="#app/productDetail/{{product.entity_id}}">
                <div class="product-image">
                    <img image-lazy-src="{{product.image_url}}"
                         lazy-scroll-resize="true"
                         image-lazy-loader="lines">
                </div>
            </a>
            
            <div class="product-info">
                <div class="product-name">
                    {{product.name}}
                </div>
            	<div class="p_rating">                
                            <div class="ratings">
                                <div class="rating-box">
                                  <div class="rating" style="width:{{product.ratings}}%;"></div>
                                </div>                    
                            </div>
                        </div>
                <div  class="product-price">
                    <div class="price-box">
                      <span ng-if="product.discount != null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.final_price_with_tax}}
                              </span>
                              &nbsp;
                              <span class="old-price">
                                  {{product.regular_price_with_tax | number:0}}
                              </span>
                          </span>
                      </span>
                      <span ng-if="product.discount == null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.regular_price_with_tax}}
                              </span>
                          </span>
                      </span>
                      <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                          <span class="price">
                              {{product.discount}}
                          </span>
                      </span>
                    </div>
                </div>
                <div class="p_footer">
            	<span class="img_left">
                <a href="#" ng-click="sharewithfriend()">
            	<img src="img/share-25.png" height="25" width="25" /></a>
                </span>
                <span class="img_center">
                	<div ng-init="myVar = '#app/productDetail/'">
                        <a ng-href="{{myVar}}{{product.entity_id}}">
                            <img class="" src="img/cart-32.png" height="25" width="25" />
                         </a>
                    </div>        
                </span>
                <span class="img_right">
					<div ng-if="true == product.is_in_wishlist">
                        <img class="save-img product_entity_id"  src="img/icon-25.png" height="25" width="25" />
                     </div>
                     
                     <div ng-if="true != product.is_in_wishlist">
                        <img class="save-img product_entity_id" src="img/save-25.png" id='wishlist_{{product.entity_id}}' height="25" width="25" ng-click="doWhishlistAdd(product.entity_id)" />
                     </div>                	
                </span>
            </div>
            </div>
            </div>            
            </div> 
            </slick>
        </div>
                       
        <div class="p_title">{{'last_products' | translate}}</div>
         <div style="width:50px;margin:0 auto">
            <ion-spinner icon="spiral" ng-show="loading1"></ion-spinner>
        </div>
        <div class="prodlist ">	
        <slick ng-if="dataLoaded4" init-onload="false" data="dataLoaded4" variable-width="true" slides-to-scroll="2"   infinite="true" slides-to-show="3">
    	 
	          
            <div class="prod_slider slick-item" ng-repeat="product in lists_catalog">			
                <div class="product-inner">
                <div class="p_lbl"><span class="new-lbl">New</span></div>
            <a href="#app/productDetail/{{product.entity_id}}">
                <div class="product-image">
                    <img image-lazy-src="{{product.image_url}}"
                         lazy-scroll-resize="true"
                         image-lazy-loader="lines">
                </div>
            </a>
            
            <div class="product-info">
                <div class="product-name">
                    {{product.name}}
                </div>
            	<div class="p_rating">                
                            <div class="ratings">
                                <div class="rating-box">
                                  <div class="rating" style="width:{{product.ratings}}%;"></div>
                                </div>                    
                            </div>
                        </div>
            
                <div  class="product-price">
                    <div class="price-box">
                      <span ng-if="product.discount != null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.final_price_with_tax}}
                              </span>
                              &nbsp;
                              <span class="old-price">
                                  {{product.regular_price_with_tax | number:0}}
                              </span>
                          </span>
                      </span>
                      <span ng-if="product.discount == null" class="special-price">
                          <span class="special-price">
                              <span class="price">
                                  {{product.symbol}}{{product.regular_price_with_tax}}
                              </span>
                          </span>
                      </span>
                      <span ng-show="0" ng-if="product.discount!=null" class="discount {{price_percent_class}}">
                          <span class="price">
                              {{product.discount}}
                          </span>
                      </span>
                    </div>
                </div>
                
                <div class="p_footer">
            	<span class="img_left">
                <a href="#" ng-click="sharewithfriend()">
            	<img src="img/share-25.png" height="25" width="25" /></a>
                </span>
                <span class="img_center">
                	<div ng-init="myVar = '#app/productDetail/'">
                        <a ng-href="{{myVar}}{{product.entity_id}}">
                            <img class="" src="img/cart-32.png" height="25" width="25" />
                         </a>
                    </div>        
                </span>
                <span class="img_right">
                	<div ng-if="true == product.is_in_wishlist">
                        <img class="save-img product_entity_id"  src="img/icon-25.png" height="25" width="25" />
                     </div>
                     
                     <div ng-if="true != product.is_in_wishlist">
                        <img class="save-img product_entity_id" src="img/save-25.png" id='wishlist_{{product.entity_id}}' height="25" width="25" ng-click="doWhishlistAdd(product.entity_id)" />
                     </div>
                </span>
            </div>
            </div>
            </div>            
            </div> 
            </slick>
        </div>                            

        <br /><br /><br /><br />

        
        <!-- end img swiper -->
        <!--
        <div class="list list-inset">
            <form id="search" ng-submit="onSearch()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input  type="text" placeholder="{{'enter_the_key' | translate}}" ng-model="searchData.text">
            </label>
            <button  type="submit" class="button button-full button-assertive">{{'quick_search' | translate}}</button>
            </form>
        </div>
                        
			
        <div class="padding-horizontal">
            <div class="button-bar">
                <a href="#app/searchAdv" class="button button-light icon icon-top ion-ios-search-strong"><br>
                    {{'product_searchadv' | translate}}</a>
                <a href="#app/lists/daily_sale" class="button button-light icon icon-top ion-ios-pricetags-outline"><br>
                    {{'latest_promotions' | translate}}</a>
                <a href="#app/lists/new" class="button button-light icon icon-top ion-ios-star-outline"><br>
                    {{'common_products' | translate}}</a>
            </div>
            <div class="button-bar">
                <a href="#app/certDownload" class="button button-light icon icon-top ion-clipboard"><br>
                    {{'cert_download' | translate}}</a>
                <a href="#app/searchAgent" class="button button-light icon icon-top ion-ios-location"><br>
                    {{'search_agent' | translate}}</a>
                <a href="#app/frame/survey" class="button button-light icon icon-top ion-android-checkbox-outline"><br>
                    {{'survey' | translate}}</a>
            </div>
        </div>    -->  
    </ion-content>
    <div class="bar bar-footer bar-assertive">
		<a href="#app/home" class="button icon ion-home"><i class="my-line">Home</i></a>
        <a href="#app/lists/daily_sale" class="button icon ion-ios-pricetag"><i class="my-line">Deals</i></a>
        <a href="#app/searchAdv" class="button icon ion-search"><i class="my-line">Search</i></a>
        <a href="#app/cart" class="button icon ion-ios-cart"><i class="my-line">My cart</i></a>
        <a href="#app/home" class="button icon ion-person"><i>My<br /> account</i></a>
    </div>
</ion-view>
