<ion-view view-title="{{'Leave Feedback' | translate}}">
<ion-content overflow-scroll="false">
    <div class="list padding">
         <form ng-submit="doLeaveFeedback()">
             <div class="inputset">   
                 <label class="item item-input">
                     <textarea required autofocus rows="4" cols="50">
                    </textarea>
                </label>
            </div>
            
            <button class="button button-full-1 button-assertive"
                    type="submit" > {{'submit' | translate}}
            </button>
        </form>
    </div>
</ion-content>
</ion-view>