<!--<ion-view view-title="{{'new_customer' | translate}}">-->
<ion-view hide-nav-bar="true">

<ion-header-bar style=" background:#0188cc;" class="set-header">
       <div class="buttons">
         <a class="button button-icon ion-arrow-left-c back-btn" href="#/"></a>
       </div>
        <div style="width:100%;"> <p class="logo-set set-center"> <img src="img/logo-1.png" alt="logo" /></p></div>
     </ion-header-bar>
 
 
<ion-content overflow-scroll="false" style=" background:#0188cc;">
    <div class="list padding">
     <!-- <h3>&nbsp;  </h3>-->
        
        
       
    
    
    <div class="fb-login-set space2">
        
        
            
           
            <p class="set-center"> <a href="#" ng-click="fbLogin()"><img src="img/fb-login.png" alt="logo" width="" height="40"/> </a></p>
            
            
             <div class="no-span seprator set-center">
            <h4>OR USE</h4>
            </div>
            
        
        </div>
        

        <form ng-submit="doLogin()" class="login">
             <div class="inputset">   <label class="item item-input">
               <!-- <span class="input-label">{{'email_or_mobile' | translate}}</span>-->
            <input type="text"  autofocus placeholder="{{'email_or_mobile' | translate}}" ng-model="loginData.username">
                <span class="icon"><i class="fa fa-envelope"></i></span></div>
            </label>
         <div class="inputset">   <div class="item item-input">
             <!--   <span class="input-label">{{'password' | translate}}</span>-->
                <input id="password"  type="password" ionic-password-show-hide placeholder="{{'password' | translate}}" ng-model="loginData.password"><span class="icon"><i class="fa fa-lock"></i></span></div>
            </div>
            
             <!--<input type="password" name="uPassword" minlength="3" placeholder="Password" ng-model="loginData.password" ui-show-password required>-->
                <button class="button button-full-1 button-assertive"
                        type="submit" > {{'login_submit' | translate}}
                </button>

            <div class="list">
                <div class="row set-center">
                    <div class="forgot-pass space1">
                        <a ng-click="hideLogin()"  href="#app/forgotPwd">{{'forgot_password' | translate}}</a>
                    </div>
                    
                </div>
                 <div class="row set-center"> 
                 	 <p class="set-center text1 space1">Don't have an account?</p>
                 </div>
                 <div class="row set-center"> 
                 <div class="new-acc space1">
                        <a ng-click="hideLogin()"   href="#app/register">
                            {{'new_account' | translate}}
                        </a>
                    </div></div>
            </div>
        </form>
    </div>
</ion-content>
</ion-view>
<script>
    function show_hide_pw(){
        alert($("#show_hide_pw").val());
    }
</script>