<style>
    .table_top tr,.table_top td {
    border: 1px solid black;
    text-align: center;
}
    .table_top{
        margin-top: 10px !important;
    }

</style>
<ion-view view-title="{{'my_account' | translate}}">
<ion-content overflow-scroll="false">
    <div class="profile-bg">
         <div class="ion-person2"></div>
        <span>{{'welcome' | translate}}</span><br> {{name}}<br> {{email}}
    </div>
    <div style='padding: 10px;font-size: 14px;' class="profile-menu">
        <div style="margin-top:10px">
            <a class="button button-full button-light icon-13 myaccount_hr" href="#app/orderDetails" style="text-decoration: none !important">
                {{'my_orders' | translate}}
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="button button-full button-light icon-14 myaccount_hr" href="#app/wishlist" style="text-decoration: none !important">
              {{'my_wishlist' | translate}}
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="button button-full button-light icon-15 myaccount_hr" href="#app/address_book" style="text-decoration: none !important">
                {{'my_address_book' | translate}}
            </a>
        </div>
        <div style="margin-top:10px">
           <!-- <a href="tel:9824815775" style="text-decoration: none !important" class="button button-full button-light icon-16">
                
                 Call Us
            </a>-->
            
            <a class="button button-full button-light icon-16 myaccount_hr" href="#app/setting" style="text-decoration: none !important">
               {{'select_languages' | translate}}
            </a>
        </div>
        
        
        
         <div style="margin-top:10px">
               
            <a class="button button-full button-light icon-18 myaccount_hr" href="#app/contact" style="text-decoration: none !important">
               {{'contact_us' | translate}}
            </a>
        </div>
        
        
        
        
        
        
        <div style="margin-top:10px">
            <a href="#" ng-click="sharewithfriend()" style="text-decoration: none !important" class="myaccount_hr button button-full button-light icon-19">
            <!--<a href="#" ng-click="sharewithfriend()" style="text-decoration: none !important">-->
             
               {{'share_with_friends' | translate}}
            </a>
        </div>
        <div style="margin-top:10px">
           <!-- <a href="#" ng-click="rateUs()" style="text-decoration: none !important" class="myaccount_hr button button-full button-light icon-20">-->
            <!--<a class="ion-ios-paw" href="#app/leave_feedback" style="text-decoration: none !important">-->
			<a href="#app/contact" style="text-decoration: none !important" class="myaccount_hr button button-full button-light icon-20">            
                {{'leave_feedback' | translate}}
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="button button-full button-light icon-21 myaccount_hr" href="#" ng-click="rateUs()" style="text-decoration: none !important"> 
                {{'rate_us_on_play_store' | translate}}
            </a>
        </div>
    </div>
    
    <div class="profile-footer">
    
     <img class="" src="img/logo.png">
    
    	<ul>
        	<li><a href="#">Privacy Policy</a></li>
            <li>|</li>
            <li><a href="#">Terms and Conditions</a></li>
            
        </ul>
    
    </div>
</ion-content>
</ion-view>