<style>
    .table_top tr,.table_top td {
    border: 1px solid black;
    text-align: center;
}
    .table_top{
        margin-top: 10px !important;
    }

</style>
<ion-view view-title="{{'My Account' | translate}}">
<ion-content overflow-scroll="false">
    <div style="padding:10px;background-color: #1a94d3;color:#FFF;text-align: center">
        <div class="ion-person" style="font-size: 30px"></div>
        Welcome<br> Login/Register
    </div>
    <div style='padding: 10px;font-size: 14px;'>
        <div style="margin-top:10px">
            <span class="ion-ios-paw"></span>
            &nbsp;&nbsp; My Orders
        </div>
        <div style="margin-top:10px">
            <a class="ion-ios-paw" href="#app/wishlist" style="text-decoration: none !important">
                &nbsp;&nbsp;My Wishlist
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="ion-ios-paw" href="#app/address_book" style="text-decoration: none !important">
                &nbsp;&nbsp;My Address Book
            </a>
        </div>
        <div style="margin-top:10px">
            <span class="ion-ios-paw"></span>
            &nbsp;&nbsp; Select Languages
        </div>
        <div style="margin-top:10px">
            <span class="ion-ios-paw"></span>
            &nbsp;&nbsp; Contact Us
        </div>
        <div style="margin-top:10px">
            <span class="ion-ios-paw"></span>
            &nbsp;&nbsp; Call Us
        </div>
        <div style="margin-top:10px">
            <span class="ion-ios-paw"></span>
            &nbsp;&nbsp; Share with Friends
        </div>
        <div style="margin-top:10px">
            <span class="ion-ios-paw"></span>
            &nbsp;&nbsp; Leave Feedback
        </div>
        <div style="margin-top:10px">
            <span class="ion-ios-paw"></span>
            &nbsp;&nbsp; Rate us on play store
        </div>
    </div>
</ion-content>
</ion-view>