<ion-view view-title="{{'payment' | translate}}">
    <ion-content scroll="false" overflow-scroll="true">
        <ion-content lazy-scroll style="height:100%" overflow-scroll="true" direction="y" locking="true">	    
        <div class="app">
            <h1>Apache Cordova</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
                <button id="buyNowBtn"> Buy Now !</button>
                <button id="buyInFutureBtn"> Pay in Future !</button>
                <button id="profileSharingBtn"> Profile Sharing !</button>
            </div>
        </div>
        </ion-content>
    </ion-content>
</ion-view>
