d<ion-view hide-nav-bar="true">

<ion-header-bar style=" background:#0188cc;" class="set-header">
       <div class="buttons">
         <a class="button button-icon ion-arrow-left-c back-btn" href="#/"></a>
       </div>
       <div class="reg-title"><p>{{'new_customer' | translate}}</p></div>
     </ion-header-bar>


    <ion-content overflow-scroll="false" class="register-container" style=" background:#0188cc;">
    
   			 <div class="fb-login-set space2">
        
        			<p class="set-center"> <a href="#" ng-click="fbRLogin()"><img src="img/fb-login.png" alt="logo" width="" height="40"/> </a></p>
            
            
                         <div class="no-span seprator set-center">
                        <h4>OR USE</h4>
                        </div>
            
            </div>
            
            
        
        
         <form ng-submit="doRegister()" name="myForm">
            <div class="list padding">
                
            <div class="inputset">   
                <label class="item item-input">                
                    <input type="text" name="firstname" id="firstname" placeholder="{{'first_name' | translate}}" ng-model="registerData.firstname">
                </label>
            </div>
              <div class="inputset">  
              	<label class="item item-input">                  
                    <input type="text" placeholder="{{'middle_name' | translate}}" ng-model="registerData.middlename">
                </label>
              </div>


              <div class="inputset">  
              	<label class="item item-input">
                    <input type="text" placeholder="{{'last_name' | translate}}" ng-model="registerData.lastname">
                </label>
              </div>

             <div class="inputset">   
             	<label class="item item-input">                    
                    <input type="email" name="email" placeholder="{{'email_reg' | translate}}" ng-model="registerData.email">                           
                </label>                
             </div>


             <div class="inputset">   
             	<div class="item item-input">                    
                    <input type="password" ionic-password-show-hide id="passwordr" placeholder="{{'password' | translate}}"
                           ng-model="registerData.password">
                </div>
           	</div>

                <li class="privacy item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox"></label>
	                    {{'read_agree' | translate}}
                </li>
                <button class="button button-full-1  button-assertive"
                        type="submit" > {{'register_submit' | translate}}
                </button>
            </div>
             <br>
             <br>
             <br>
        </form>
    </ion-content>
</ion-view>