<style>
.c_title{color:#797979;font-size:16px;line-height:1.5;font-weight: initial;}
.c_title2{color:#0191B6;font-size:16px;line-height:1.5;font-weight: initial;margin: 10px 0 10px 0;s}
.c_box{border: 1px solid #E2E2E2;
margin: 10px 0 25px;
font-size: 16px;
font-weight: bold;
color: #303030;padding: 5px;
box-shadow: 0.5px 1px 1px #999;overflow:hidden}
.wl-box1{float:left;width:35%}
.wl-box2{float:left;width:65%;}
.p_footer1{
    text-align: center !important;
    width: 100%;
    margin: 0 auto;
    float: left;
}
.p_footer1 span {     float: left;    text-align: center !important;    background: #E5E5E5;
    padding: 10px; width:auto !important;margin: 5px 4%}
.p_footer1 span:first-child{margin-left:0}	
.p_footer1 span:last-child{margin-right:0}	
</style>
<ion-view view-title="{{'wishlist' | translate}}">
<ion-content overflow-scroll="false">
    <div class="list padding">
        <div ng-repeat="wishlist_detail_data in wishlist_detail" class="wishlist-d">
            
            <a href="#app/productDetail/{{wishlist_detail_data.entity_id}}">
                <div class="wl-box1">
                    <img style="width:100%" src="{{wishlist_detail_data.image_url}}">
                </div>
                        </a>
    
                <div class="wl-box2">
                	<div class="c_title">                    
                        {{wishlist_detail_data.name}}
                    </div>
                    <div class="c_title2">
                    	SRS{{wishlist_detail_data.final_price_with_tax}}
                    </div>
                    <div class="p_footer1">
                        <span class="img_left">
                            <a href="#" ng-click="sharewithfriend()">
                                <img src="img/share-25.png" height="25" width="25" />                
                            </a>
                        </span>
                        <span class="img_center">
                            <a href="#app/productDetail/{{wishlist_detail_data.entity_id}}">
                                <img class="" src="img/cart-25.png" height="25" width="25" /></a>
                        </span>
                        <span class="img_right">
                            <a href="#" ng-click="doDeletewishlist(wishlist_detail_data.entity_id)">
                                <img class="" src="img/delete.png" height="25" width="25" /></a>
                        </span>
                    </div>                      
				</div>                    
            
           
        </div>
    </div>
</ion-content>
</ion-view>