<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.siegelgullo.app"
        version   = "9.0.0" 
        android-versionCode="9"
>

    <name>SIEGEL GULLO, Attorneys</name>

    <description>
        SIEGEL GULLO, Attorneys
    </description>

    <author email="Web@siegel-lawoffice.com" href="http://cordova.io">
        siegel-lawoffice.com
    </author>
    <allow-navigation href="http://*/*" />

    <icon src="icon.png" /> 
	
 <plugin name="cordova-plugin-whitelist" spec="1" />
    <content src="index.html" />
	

    <access origin="*" />

</widget>
