<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.siegelgullo.app"
        version   = "9.0.0" 
        android-versionCode="9"
>

    <name>SIEGEL GULLO, Attorneys</name>

    <description>
        SIEGEL GULLO, Attorneys
    </description>

    <author email="Web@siegel-lawoffice.com" href="http://cordova.io">
        siegel-lawoffice.com
    </author>
    <allow-navigation href="http://*/*" />

    <icon src="icon.png" /> 
	
	
    <!-- iPhone 6 / 6+ -->
    <icon src="res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/icon-60-2x.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/icon-40@2x.png" platform="ios" width="80" height="80" />


    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/icon.png" platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon@2x.png" platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="res/icon/ios/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon-72@2x.png" platform="ios" width="144" height="144" />


    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icon/ios/icon-50.png" platform="ios" width="50" height="50" />
    <icon src="res/icon/ios/icon-50@2x.png" platform="ios" width="100" height="100" />
    
    <splash src="splash.png" />
 
    <splash src="res/screen/android/screen-ldpi-portrait.png" platform="android" qualifier="ldpi" />
    <splash src="res/screen/android/screen-mdpi-portrait.png" platform="android" qualifier="mdpi" />
    <splash src="res/screen/android/screen-hdpi-portrait" platform="android" qualifier="hdpi" />
    <splash src="res/screen/android/screen-xhdpi-portrait.png" platform="android" qualifier="xhdpi" />

     iPhone and iPod touch 
    <splash src="res/screen/ios/screen-iphone-portrait.png" platform="ios" width="320" height="480" />
    <splash src="res/screen/ios/screen-iphone-portrait-2x.png" platform="ios" width="640" height="960" />

     iPhone 5 / iPod Touch (5th Generation) 
    <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" platform="ios" width="640" height="1136" />

     iPhone 6 
    <splash src="res/screen/ios/screen-iphone-portrait-667h.png" platform="ios" width="750" height="1334" />
    <splash src="res/screen/ios/screen-iphone-portrait-736h.png" platform="ios" width="1242" height="2208" />

     iPad 
    <splash src="res/screen/ios/screen-iphone-portrait-736h.png" platform="ios" width="768" height="1024" />
    <splash src="res/screen/ios/screen-iphone-portrait-736h.png" platform="ios" width="1024" height="768" />

      Retina iPad 
     <splash src="res/screen/ios/screen-iphone-portrait-736h.png" platform="ios" width="1536" height="2048" />
     <splash src="res/screen/ios/screen-iphone-portrait-736h.png" platform="ios" width="2048" height="1536" />
    
    
 <plugin name="cordova-plugin-whitelist" spec="1" />
    <content src="index.html" />
	

    <access origin="*" />

</widget>
