<?xml version="1.0" encoding="utf-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap = "http://phonegap.com/ns/1.0"

    id        = "myhalaleats.mobile.app"

    version   = "1.0.0">

    <name>Myhalaleats</name>

    <description>

        Myhalaleats mobile app version

    </description>

    <author email="fharhanrahman@gmail.com" href="http://cordova.io">

         Myhalaleats.com

    </author>

    <icon src="icon.png" />           

    <content src="index.html" />

               

	<preference name="orientation" value="portrait" />

	<preference name="android-build-tool" value="gradle" />

	<preference name="permissions" value="none"/>

		

	<plugin name="cordova-plugin-whitelist" source="npm" />

    <plugin name="phonegap-plugin-push" source="npm" />

    <plugin name="com.paypal.cordova.mobilesdk" version="3.1.2" />            	

    <plugin name="cordova-plugin-device" />		

	<plugin name="cordova-plugin-inappbrowser" />		

	<plugin name="cordova-plugin-splashscreen" />	

	<plugin name="cordova-plugin-geolocation" />

	<plugin name="cordova-plugin-network-information" />



	<gap:splash src="splash.png" />

	<preference name="AutoHideSplashScreen" value="false" />  	

    <preference name="SplashScreenDelay" value="10000" />  

    <access origin="*" />

</widget>