



.wrapper{

border:0px solid red;

padding:8px;

}



.wrapper-white{

background:#fff;

padding:15px 8px;

}



.center{

text-align:center;

}

.field-section{

padding:8px;

}

.home-header,

.orange-header

{

max-width:100%;

/*background:#f75d34;*/

background:#FFFFFF;

color:#000000;

padding-top:10px;

padding-bottom:15px;

}

.orange-header{

padding-left:8px;

padding-right:8px;

}

.orange-header .restauran-title{color:#262626 !important;}

.home-header img,

.full-image

{

display:block;

margin:auto;

max-width:70%;

}

.navigation-bar{

background:#FBBA16;

color:#fff;

border:none;

}



.white,

.toolbar-button,

.ons-back-button__icon,

.restauran-title.white

{

color:#fff;

}



.green,

.icon-green,

.myfa-check

{

/*color:#00B279;*/

    color: #A7A7A7 !important;

}





.button.green-btn{

	    background: #FBBA16; width: 96%; display: block; margin-left: auto; margin-right: auto;     margin-bottom: 10px;

/*background:#00B279;*/



}



.button.blue-btn{

background:#3B5998;

}



.pad20{

padding:20px;

}



.pad25{

padding:25px;

}



.padtop25{

padding-top:25px;

padding-bottom:25px;

}



.tab-bar{

background:#00B279;

}

.clear{

clear:both;

}

.search-btn{

position:absolute;

top:9px;

right:15px;

font-size: 17px !important;

color: white !important;

background-color: #FBBA16;

padding: 4px;

line-height: 22px;

}



.home-page,

.filter-options

{

z-index:10;

position:relative;

}



/** menu backround */

.page--menu-page__background {

/*background-color: #333;

color: white;*/

/*background-color:#363535; color:#868686;*/

background-color:#F2F2F3;

color:#333;

}



.main-menu-list,

.bottom-menu-item:first-child,

.bottom-menu-item

{

/*border-color: #393939;*/

/*border-color:#4C4C4C;

color: #acacab;*/



border-color:#DFDFE0;

color: #333;



background-color: transparent;

background-image: none !important;

font-size:15px;

}

.bottom-menu-item span{

padding-left:10px;

}

.right{

float:right;

}

.text-right{

text-align:right;

}



.filter-options span,

.filter-options .checkbox,

.location-options .radio-button

{

color:#666;

}

.results-header{

background:#00B279;

color:#fff;

text-align:center;

padding-top:6px;

padding-bottom:6px;

font-size:14px;

z-index:11;

}



.arrow_box { position: relative; background: #00B279; } .arrow_box:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 178, 121, 0); border-top-color: #00B279; border-width: 8px; margin-left: -8px; }



.modal{

background:rgba(255, 255, 255, 0.1);

}

.modal__content{

color:#666;

}



#search-text

{

width: 100%;

white-space: nowrap;

overflow: hidden!important;

text-overflow: ellipsis!important;

display:block!important;

}
.concat-text

{

width: 100%;

white-space: nowrap!important;

overflow: hidden!important;

text-overflow: ellipsis!important;

display:block!important;

}

.restaurant-list .logo-wrap,

.restaurant-list .logo-wrap2,

.logo-wrap

{

width:70px !important; height: 70px !important; margin-left:0px !important; position:relative; background:#fff;

}



.logo-wrap.logo-non-auto{

float:left;

}



.logo-wrap img,

.logo-wrap2 img

{



	width: auto !important;

    height: auto!important;

    position: absolute;

    max-width: 70px;

    max-height: 70px;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

	margin:auto;

}





.restaurant-list .row,

.review-list .row,

.list-header

{

padding-top:8px;

/*padding-bottom:8px;*/

}

.restaurant-list p,

#page-itemdisplay p.description,

.onsen-display p.description,

.small-font-dim,

#page-receipt .wrapper p,

#page-merchantinfo .wrapper p,

address,

.list-dim-text .list__item,

#page-booking-ty .wrapper p,

.settings-list

{

line-height:1;

font-size:14px;

color:#666;

margin:8px 0;

font-style:normal;

}



.small-font-dim-smaller,

.small-font-dim.small-font-dim-smaller

{

font-size:12px;

}



.col-image,

.col-description

{

line-height:normal;

}

.restauran-title,

.restaurant-list .restauran-title,

.title,

.total,

.total_value,

#page-merchantinfo h3,

#page-merchantinfo h5,

#page-prelogin h4,

#page-orders .col-orders,

#page-login h4

{

font-weight:normal;

color:#262626;

margin:0;

font-size:18px;
    margin-bottom: 3px;
}



#page-merchantinfo h5{

font-size:17px;

margin:5px 0 8px;

}



.total_value{

font-size:20px;

font-weight:bold;

}



.p-small,

.restaurant-list p.p-small

{

font-size:12px;
font-weight:normal !important;

}

.bold{

font-weight:800;

}

.border-left{

border-left:1px solid #666;

padding-left:8px;

}



.restaurant-list .list-item-container:nth-child(even){

/*background:#F7F7F7;*/

}

.notification.open{

background:#00B279;

}



#category-list .row{

color:#262626;

font-size:18px;

}



.list-header

{

font-weight:normal;

color:#666;

margin:0;

font-size:17px;

}



.text-right{

text-align:right;

}

#menu-list price,

price

{

font-weight:bold;

color:#262626;

font-size:13px;

}

.item-header{

height:170px;

background:#fff;

background-repeat: no-repeat !important;

background-size: contain !important;

background-position:center !important;

}



#page-itemdisplay .title{

/*border-bottom:1px solid #DDDDDD;*//*rk*/

/*padding-bottom: 8px;

padding-top: 8px;*/

}

#page-itemdisplay .title{

font-size:21px;

}



#page-itemdisplay price,

.onsen-display price

{

font-size:14px;

}



.grey-border-top{

border-top:1px solid #DDDDDD;

}

.grey-border-top2{

border-top:2px solid #DDDDDD;

}

.grey-border-bottom{

border-bottom:1px solid #DDDDDD;

}



#page-itemdisplay .grey-border-bottom{

border-bottom:2px solid #00B279;

}

#page-itemdisplay .qty{

width:100%;

}



#page-itemdisplay p.description.item-name
{

display:inline !important;

}

.onsen-display p.description.item-name

{

display:inline ;

}



#page-itemdisplay .list-header,

.onsen-display .list-header

{

padding-top:5px;

padding-bottom:5px;

}



#page-itemdisplay .radio-button__checkmark,

.onsen-display .radio-button__checkmark,

#page-locations .radio-button__checkmark,

#page-languageoptions .radio-button__checkmark

{

border:1px solid #ddd;

}



.quantity-center{

margin-top: 7px;

text-align: right;

color:#666;

padding-right:8px;

}

.text-left{

text-align:left;

}

.text-right{

text-align:right;

}

.text-center{

text-align:center;

}

.cart-total-wrap{

margin-top:25px;

}



.cart

{

font-size:30px;

}



.cart-num,

#page-cart .numeric_only,

#page-cart .qty,

.order-apply-changes,

.row-del-wrap,

.order-change-wrapper,

.payon-delivery-wrapper,

.logout-menu,

.delete-addressbook,

.select-addressbook,

.page-login-fb,

.voucher-wrap,

.remove-voucher

{

display:none;

}



.text-big,

#page-merchantinfo h3

{

font-size:20px;

}



.total-amount{

margin:auto;

}

#page-cart .text-big,

#page-checkoutsignup .text-big,

#page-shipping .text-big,

#page-paymentoption .text-big,

{

margin-top:7px;

}



.onsen-display .row-no-border,

.row-no-border

{

border:none;

}

.small-input{

width:60px;

}



#cart-item .line-separator{

border-bottom:none;

line-height: 10px;

min-height: 10px;

}



.delete-item{

background:#DEDEDE;

color: #FFFFFF;

font-size: 15px;

font-weight: normal;

line-height: 20px;

padding: 4px 8px;

}



.price-normal price{

font-weight:normal;

}

.small-red-text{

color:#FF0000;

font-size:12px;

margin:5px 10px;

}



.delivery_date,

.delivery_time,

.field-wrapper input,

.field-wrapper email,

.field-wrapper password,

.order_notes

{

width:100%;

}

.field-wrapper{

padding:8px 0;

}



.help-block.form-error{

color: #FF0000;

display: block;

font-size: 12px;

text-align: right;

}



.cod{

color:#05A183;

}

.pyr{

color:#333476;

}

.paypal{

color:#009CDE;

}



#page-paymentoption .logo-wrap{

height:auto;

width:50px;

margin-right:0;

}



.myfa-check{

font-size:100px;

}



price.discount,

#menu-list price.discount

{

color:#D4232B;

margin-right:5px;

text-decoration:line-through;

}

.checkout-icon{

font-size:40px;

}



.list-dim-text .list__item{

line-height:normal;

min-height: inherit;

padding-bottom: 5px;

padding-top: 5px;

}



#merchant-map,

#map_canvas

{

width:100%;

min-height:250px;

}



.review-list .icon-user{

font-size:50px;

color:#666;

}

#page-orders .col-order-stats{

}

#page-orders .col-order-stats .notification{

vertical-align:middle;

font-size:14px;

display:inline-block;

}



#page-orders .col-orders{

font-size:14px;

}



#page-addressbook-details .small-font-dim{

display:inline-block;

}

.loading-screen{

height: 100%;

position: absolute;

top: 0;

width: 100%;

background:#101317;

}



.loading-screen .inner{

color: #FFFFFF;

font-family: arial;

margin-top: 25%;

position: relative;

text-align: center;

}



.padding-left10{

padding-left:10px;

}



.padding-left5{

padding-left:5px;

}



.pad-top10{

padding-top:10px;

}



.pad-top20{

padding-top:20px;

}



.settings-header {

  font-weight: 500;

  font-size: 14px;

  opacity: 0.4;

  padding: 10px 0 0px 10px;

  margin-bottom: -4px;

}

.settings-list {

  margin-top: 10px;

}



.switch-wrapper{

border:1px solid red;

}



.no-connection {

text-align:center;

padding-top:60px;

display:none;

}



.no-connection #ion-wifi{

color:#ddd;

font-size:100px;

}

.no-connection p{

color:#666;

font-size:20px;

margin-bottom:10px;

margin-top:5px;

}



#voucher-wrap{

margin-bottom:15px;

}



/***********************************loc-start************************************/



.srch-input {

	border:solid 0px gray;

	background-color:#FFFFFF;

	padding: 22px 8px;

	display: block; 

	width: 100%; 

	display:inline-block;

	border-radius: 2px;

	}

.my-srch{

	background-color: rgba(255, 255, 255, 0.39);

    padding: 10px;

	

	border-radius: 2px;

	}

.srch-btn{

	background: white !important;

    border: none;

    color: #FCBC1A;

	outline:0;

	display:inline-block;

	position: absolute;

    right: 0px;

    top: 11px;

    font-size: 24px;
    width: 30px;
	}

.srch-padd{padding: 0 30px;}	

.field-nn{padding:5px 0 20px!important;}	

.btn-right-i{float:right; line-height: 36px;}	

.my-inpt{

	float:left;

	width: 94% !important;

}



/*.srch-back{background:url(images/food-blur.jpg) repeat !important; height: 1024px; color:#FFFFFF;}*/

.srch-back{background:url(images/food-blur.jpg) repeat !important; height: 100%; color:#FFFFFF;}

.srch-submit{margin:auto; width: 100%; cursor:pointer;}

.home-header img, .full-image {

    display: block;

    margin: auto;

    max-width: 30% !important;

	cursor:pointer;

}

.txt-transform{text-transform:uppercase;}

.txt-white{color:#FFFFFF;}

.txt-right{text-align: -webkit-right; line-height: 5px; width: 85px;

    float: right;}

.list{font-size: 0px !important;}

.col-img{width:98px;

	width: 98px;

}

.my-disc{width: calc(100% - 130px) !important;  padding-left: 15px;}

/*.my-dis-1{width: calc(100% - 115px) !important;}*/

.my-dis-1{width: calc(100% - 95px) !important;}

.my-col-img{width:95px;}

/*.my-price-1{text-align: right; width: 115px;}*/

.my-price-1{text-align: right; width: 95px;}

.my-row-bdr{border-bottom: 0px solid #ddd !important;/* border-bottom-style: dashed !important;*/}

.my-row-bdr:nth-last-child(2){border-bottom: 0px solid #ddd !important;}

.home-bg{background:url(images/home-bg.JPG) repeat !important; height:1024px !important;}

.home-btn{padding: 10px 25px;

    background-color: #fbbb17;

    border: 0;

    border-radius: 25px;

    color: #FFFFFF;

	cursor:pointer;

	outline:0;}

.clr-white{color: #FFFFFF;}

.home-content{margin-top:35%;}

.srch-content{margin-top:15%;}


.nav-left{cursor:pointer;}

.yellow-btn{background: #FCBE1D;}

.start-txt{font-weight: normal; font-size: 16px;}


.col-img{flex: initial !important;

    -webkit-box-flex: initial !important;

 	-webkit-flex:  initial !important}



.my-row-bdr-nn{

    border-top: none;

    border-bottom: 1px solid #ddd !important;
	/*padding-top: 2px;
    padding-bottom: 5px;*/
	padding-top: 4px;
    padding-bottom: 8px;
}

}

.my-row-bdr-nn:nth-last-child(1){

    border-top: none;

    border-bottom:  0px solid #ddd !important;

}



/*.totl-price-r{width:80px; text-align: right;}*/

.totl-price-r{width:80px; text-align: right;     vertical-align: top;}

/*.totl-name{width: 70%;}*/

.totl-name{width: calc(100% - 85px);     float: left;}

.qu-box, .qu-min, .qu-plus{ }

.qu-min .icon-green, .qu-plus .icon-green{/*font-size: 40px !important;*/}

.my-left{width:45% !important; font-size:12px !important;}

@media(min-width : 580px){

.col-img{flex: initial !important;

    -webkit-box-flex: initial !important;

 	-webkit-flex:  initial !important}

}	

@media(min-width : 769px){

	

	.home-content{margin-top:160px !important;}

}

@media(max-width : 550px){

	/*.srch-back{height: 736px;}*/

	.srch-back{height: 100%;}



	.home-bg{height:736px !important;}

	

	}	

@media(max-width : 500px){

	.logo-wrap2{width:70px !important; height: 70px !important; margin-left:0px !important; position:relative;}

	.logo-wrap2 img{

	width: auto !important;

    height: auto!important;

    position: absolute;

    max-width: 70px;

    max-height: 70px;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

		}

	.col .ons-col-inner {

    max-width: 60px ;}

	.col-img{width:80px;}

	.my-disc{font-size:14px !important;}

	.my-disc {width: calc(100% - 85px) !important; padding-left: 0px;}

	

	.my-col-img {width: 60px;}

	

	.arrow_box_bottom {margin-top: -0.9px;}

	}

@media(max-width : 360px){

	/*.srch-back{background:url(images/food-blur.jpg) repeat !important; height: 568px !important; color:#FFFFFF;}*/

	.srch-back{background:url(images/food-blur.jpg) repeat !important; height: 100% !important; color:#FFFFFF;}
	.qtt-text{max-width:61% !important;}
	}	

.logo-wrap2 {border: 1px solid #C7C7C7;}	

.my-tab{background: #FBBA16 !important;

		color: #FFFFFF !important;

		/*margin-top: 2px;*/

		line-height: 30px !important;

    min-height: 30px !important;}

.my-icon{float:right;

	margin-top:10px;

	color:#FFFFFF;}		

.r-list {min-height: 100px !important;}	

.r-not{    /*margin: auto;

    display: block;

    width: 50px;

	margin-top: 5px;*/

}

.filter-i{/*border: 1px solid #ddd;

        padding: 3px 1px 6px 1px !important;

    border-radius: 6px;

	background-color:#FFFFFF;*/}	

.filter-i span{font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size:15px !important;}	

.filter-clr{padding: 12px 6px 0px 6px !important; background-color: #DADADA;}

.filter-clr .fa-filter{color:#C7C7C7 !important;  font-size:18px !important;}

/*.filter-clr .srch-width{ float: left;width: calc(100% - 50px);}*/

.filter-clr .srch-width{width:100%;}

.filter-clr .toolbar-button{line-height: 31px !important;}

 .my-dis-1{flex:initial !important;}  

  .my-price-1{flex:initial !important;} 

/********border-arrow-start*********/

.arrow_box_top {

	position: relative;

	

	border: 0px solid #677782;

}

.arrow_box_top:after, .arrow_box:before {

	bottom: 100%;

	left: 50%;

	border: solid transparent;

	content: " ";

	height: 0;

	width: 0;

	position: absolute;

	pointer-events: none;

}



.arrow_box_top:after {

	border-color: rgba(136, 183, 213, 0);

	border-bottom-color:  rgba(255, 255, 255, 0.39);

	border-width: 12px;

	margin-left: -12px;

}

.arrow_box_top:before {

	border-color: rgba(103, 119, 130, 0);

	border-bottom-color:  rgba(255, 255, 255, 0.39);

	border-width: 15px;

	margin-left: -15px;

}


input{
            -webkit-user-select:auto !important;
        }




.arrow_box_bottom {

	position: relative;

	

	border: 0px solid #677782;

	

}

.arrow_box_bottom:after, .arrow_box:before {

	top: 100%;

	left: 50%;

	border: solid transparent;

	content: " ";

	height: 0;

	width: 0;

	position: absolute;

	pointer-events: none;

}



.arrow_box_bottom:after {

	border-color: rgba(136, 183, 213, 0);

	border-top-color:  rgba(255, 255, 255, 0.39);

	border-width: 12px;

    margin-left: -12px;

}

.arrow_box_bottom:before {

	border-color: rgba(103, 119, 130, 0);

	border-top-color:  rgba(255, 255, 255, 0.39);

	border-width: 15px;

    margin-left: -15px;

}

/********border-arrow-end*********/

.r-bdr-wide .r-list{background-color:white !important; border: 1px solid #CCCCCC;

    border-radius: 5px;  margin: 1px 0px 5px !important;}

.r-bdr-wide{background-color: #DADADA; padding: 5px;}

.r-bdr-wide .list__item {

    margin: 0;

    padding: 0;

    position: relative;

    list-style: none;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

    display: block;

    padding: 0 10px 0 10px;

    margin: 0 0 0 0;

    border-top: none;

  /*  border-bottom: 0px solid #ddd !important;*/

    color: #1f1f21;

    background-color: transparent;

    min-height: 44px;

    line-height: 44px;

}



.r-bdr-wide .list__item:first-child {

    border-top: none;

  /*  border-bottom: 0px solid #ddd !important;*/

}

.min-left-rk{float:left; margin-right:5px;}

.btn-add-top{margin-top:10px;}

.sign-up-rk{

	border: 2px solid #CACACA;

    border-radius: 5px;

	margin-bottom:10px;

	padding: 0px 4px;

	background: white;

	}

.my-form{/*background-color:#F3F3F3 !important;*/}	

.frm-shipping{padding:5px;}

/***********************************loc-end************************************/

@media (max-width: 330px){

.my-disc .p-small {font-size: 10px;}
.r-list {
    min-height: 111px !important;
}
}


.col-loc {max-width: 40% !important;}

@media (max-width: 500px){

.col-loc {max-width: 40% !important;}

}

.padd-top-nn{padding-top:0px !important;}

.my-cart-totl{margin-top:10px !important;     margin-bottom: 10px;}

.qu-box-bdr{border: 0px solid #1989AF !important; border-radius:5px;}

.qu-box{margin-right: 0px; /*margin-left: 3%; margin-right: 44%;*/}

.qu-plus{/*margin-left: -8px;*/} 

.qu-min{margin-right: 0px;    /* margin-left: 51%;*/} 

.u-box qty{padding: 2px 8px 0 8px !important;} 

.del-opt-bck{background-color:#FFFFFF; position:relative;}

.del-opt-bck label{

    width: 148px;

    height: 50px;

    text-align: center;

	border: 1px solid #797979 !important;}

.del-opt-bck i{color:#3C3636; margin-top:13px;}

.btn-halal-app{width: 96%; display: block; margin: auto;}

.lbl-mrg{

    border-right:none !important;

	border-radius: 5px 0px 0px 5px;
	
	

}

.lbl-mrg:last-child {

    border-left:none !important;

	border-radius: 0px 5px 5px 0px;

}

.lbl-mrg input{background-color: transparent !important;    padding: 25px 75px !important;}

ons-toolbar ~ .page__content {

    top: 61px !important;

}



	

.navigation-bar{min-height: 60px; padding-top: 0px !important;}

.p-mrg-nn{margin:0px 0px 4px 0px !important;}

.mile-font{    font-size: 11px !important;

    font-weight: bold;}

.div-right p {position: absolute;

    right: 6px;

    bottom: 0;}

.more-btn-new{
	/*padding: 5px 80px;*/
	padding: 2px 100px;

border: 2px solid #FBBA16;

    border-radius: 5px;}

.more-sub{width: 100%;

    text-align: center;}	

.more-btn-new i{font-size:24px !important; vertical-align: middle;}

.detail-ttl{font-size:14px; color: #FBBA16; font-weight: bold;}

.detail-bdr{border-bottom:1px solid #BFBFBF;  background-color: white !important;}

.sub-detail{padding:10px;}

.my-opening{padding:0px;/* min-height: 160px !important;*/}

.sub-detail .list__item, .sub-detail button { padding: 0!important;}

.hour-left{float:left;  width: 130px; height: 32px;}

.hour-right{float:right; /*width: 151px;*/  height: 32px;}

.more-top-mrg{margin-top:10px !important;}

.td-left{width: 120px;}

.td-right{width: 175px; text-align: right;}

.food-ttl, .rest-ttl, .my-left .restauran-title{font-weight:bold !important; font-size: 15px !important;}

.food-ttl-1{font-weight:bold !important; font-size: 16px !important;}

.review-ttl{background-color: #E4E4E4;

color: #545454 !important;

padding: 5px;}

.font-14{font-size:14px !important; font-weight:normal !important;     line-height: 31px !important;}

.cross-font{font-size: 28px !important;}

.dollar:before{content:' $ ';}

.cart-num{

	display:inline !important;}

.review-txt{width: 95%; /*float:left;*/}

.review-icon{/*text-align:right;*/    position: absolute;
    right: 0;
   top: 34px;
    font-size: 25px;}

.spec-box{background-color: #eee;}

.filter-clr-in {

padding: 6px !important;

background-color: #DADADA;

}

.my-txt-area{

	border: 1px solid #C1C1C1;

    background-color: white;

    border-radius: 5px;

    height: 60px;	

	}

.qu-min button, .qu-plus button { border: 1px solid #BFBFBF !important; /*padding: 5px 11px 2px 11px !important;*/     padding: 1px 8px 1px 8px !important;}	

#searchresult-page .navigation-bar__left {width: 25% !important;}	

#searchresult-page .navigation-bar__right {  width: 25% !important;}

#searchresult-page .navigation-bar__center {width: 47% !important;}



#menucategory-page .navigation-bar__left {width: 25% !important;}	

#menucategory-page .navigation-bar__right {  width: 28% !important;}

#menucategory-page .navigation-bar__center {width: 47% !important;}
#menucategory-page .navigation-bar__right .ng-isolate-scope {position: absolute; right: 0 !important;}

.del-1{text-align:center !important; background-color: white;}
.del-1-rmv1 {width:148px !important; border: 0px solid #B7B5B5;    border-radius: 3px;     text-align: center;}
.del-1-rmv2 {width:148px !important; border: 1px solid #B7B5B5;    border-radius: 3px;  text-align: center;}
.i-asap{position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    color: grey;
}
html, body, div, p, span, button, a, li, ul, input{font-family: 'Montserrat', sans-serif !important;}		


/***********#searchresult-page***********/
#searchresult-page .navigation-bar {

    min-height: 70px !important;
	/*padding-top: 10px !important;*/
}

/**********************/	

#searchresult-page ons-toolbar ~ .page__content {

    top: 71px !important;
	    background-color: #DADADA !important;

}	

#frm-login{padding-top:80px;}



#page-login, #page-checkoutsignup {

    background: url(images/login-bg.jpg) repeat !important;

    height: 100% !important;

    color: #FFFFFF;

}

#page-login .page__background, #page-login .page__content, #page-checkoutsignup .page__background, #page-login .page__content{background-color: rgba(249, 249, 249, 0) !important;}
.login-icn{font-size: x-large; position: absolute; color: #A9A9A9;}
.login-input{padding-left:25px !important;}
.login-new .text-input--underbar, .new-signup .text-input--underbar, .text-signup{color:#A9A9A9 !important;}
.tip-my{margin-top:30px;}
.my-tip-wrap{padding-left:0px; margin-top: 7px;}
.tip-total{    padding-right: 10px;
    padding-bottom: 10px;}
	.myfa-check {
    font-size: 70px !important;
}
.item-space{padding-top:1px !important;}
.tab-signup{font-size:17px !important; padding-top:8px;}
.qty-font{font-size: 12px !important;}
.check-item-bdr{
		border-top: 1px solid #DDDDDD !important;
    	/*border-bottom: 1px solid #DDDDDD !important;*/
    min-height: 33px !important;}


.my-list-check .concat-text.col.ons-col-inner{flex: 0 0 66% !important;
    max-width: 66% !important; width:66% !important;}	
	.my-list-check .r-item{flex: 0 0 95% !important;
    max-width: 95% !important; width:95% !important;}	
	.main-total .description.item-name.concat-text{text-align:right !important; }
	.main-total{padding:0px !important;}
	#page-dialog-addressbook .navigation-bar {
    min-height: 45px;
    padding-top: 0px !important;
}
#page-dialog-addressbook ons-toolbar ~ .page__content {
    top: 47px !important;
}
#addressbook-popup{background-color:white !important;}
#addressbook-popup .setAddress{    border-bottom: 1px solid #DDDDDD;padding-bottom: 5px;
    padding-top: 5px;
}
#choose-payment-method{font-size: 20px !important;}
.tip_percentage{    border: 1px solid #BABABA;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;     margin-left: 0px;}
	.my-tip-cash{ border: 1px solid #BABABA;
    padding: 7px;
    font-size: 14px;
    border-radius: 4px;}
.tipContainer li {padding-right:0px;}	
.thank-you{margin-bottom: 10px !important;}
.thank-txt{font-size:13px !important;}
.thank-main{background-color: rgba(255, 183, 0, 0.41);
    padding-bottom: 20px;
	    margin-bottom: 10px;}
.que-main{padding:10px;}
#page-receipt #cartdata .list__item{ min-height: 0px !important;}
#page-receipt .list__item {line-height: 34px !important;}
#recent-orders .col-order-stats{padding-top: 14px;}

#page-itemdisplay .checkbox--list-item__checkmark {
    margin-top: 5px !important;
}

.r-total .concat-text.col.ons-col-inner {
    flex: 0 0 76% !important;
    max-width: 76% !important;
    width: 76% !important;
	text-align:right !important;
	padding-top: 2px !important;
}
.r-total{margin-bottom: 20px; border-bottom:none !important;}
.r-total .list__item { border-bottom:none !important; border-top:none !important;   border: 0px !important; height: 25px;}
.checkout-icon-1{font-size:36px !important;     line-height: 50px !important;}
.srch-input-modal {
    border: solid 1px #CCCCCC;
    background-color: #FFFFFF;
    padding: 22px 8px;
    display: block;
    width: 100%;
    display: inline-block;
    border-radius: 2px;
}
.srch-btn-modal {
    background: white !important;
    border: none;
    color: #FCBC1A;
    outline: 0;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 24px;
    width: 30px;
}
.field-nn-modal {
        padding: 8px!important;
}

.new-form-check .list__item{  min-height: 50px !important;     border-bottom: 1px solid gainsboro;}
.my-list-check .text-right{    line-height: 36px;}
.r-total .list__item{ min-height: 30px !important;}
.row-sub-item{    height: 30px !important;}
.row-sub-item .concat-text{ !important;}
.filter-options .list-header{ margin-bottom: 4px;  }
#page-cart .button--large {
    padding: 10px 12px;

}
@media (min-width:370px){
.start-txt{font-weight: normal; font-size: 19.6px;}	
.del-opt-bck label {width: 172px !important;}
.del-pic-input {width: 166px!important; }
.del-1-rmv2, .del-1-rmv1 {width: 172px !important;}
}

.main-order{line-height: 24px !important; border-bottom: 1px solid gainsboro !important;}
.text-bold{font-weight: bold;}
.order-icon{    
    float: right;
    position: absolute;
    right: 4px;
    top: 10px;
    font-size: 14px;
    color: #5F5F5F;}
#address-book-list .list__item--tappable{ border-bottom: 1px solid gainsboro;}
#page-orderdetails .check-item-bdr {
    border-top: 1px solid #DDDDDD !important;
 
    height: 42px !important;
    line-height: 20px;
}
.font-add{font-size: 12px !important;}
.font-add-name{font-weight: bold;}
.order-stat-detail{font-size: 14px; padding: 10px;
}
#page-orderdetails .list{font-size: 14px !important;}
#page-orderdetails input{display: none !important;}
/*#page-orderdetails .concat-text{overflow: visible !important;}*/
#page-orderdetails .list__item{line-height: 20px!important;}
#page-orderdetails .qtyCustom {
    float: right;
    width: 31px;
    padding-top: 0px !important;
    margin-top: 8px;
}
#page-orderdetails .check-item-bdr .qty-font{margin-top: 9px!important;}
#page-orderdetails p.item-name{margin-top: 8px!important;}

